.headerWrap{
    width: 100%;
    height: 110px;
    display: flex;
    /* background: linear-gradient(to right, rgba(38,113,144,1), rgba(48,183,177,1)); */
}
.logo{
    display: flex;
}
.logo > img{
    height: 80%;
    margin: auto 0;
}