<div class="container">
    <div class="headerPage">
        <div class="main-title">{{dataByPage[0].companyName}}</div>
        <div class="sub-title">ID: {{id}}</div>
    </div>
    <div class="main-page-element">
        <div class="page-element">
            <div class="element-page-title">סיכום הזמנה דיגיטלית</div>
            <div class="element-page-body">
                {{dataByPage[0].orderStatus}}
            </div>
        </div>
        <div class="page-element">
            <div class="element-page-title">סיכום הזמנה דיגיטלית</div>
            <div class="element-page-body">
                {{dataByPage[0].orderStatus}}
            </div>
        </div>
    </div>
</div>