<div class="pageTitle main2-title">
    <div>
        excel title
    </div>
</div>
<div class="page-wrap">
    <div class="main-page-element">
        <div class="page-element width-block">
            table block

            <div class="buttonsWrap actionsButton">
                <button mat-button class="deleteButton" >בטל</button>
                <!-- <mat-spinner *ngIf="filterActionButtonSpinner" class="filterActionButton"></mat-spinner> -->
                <button mat-button class="addButton" (click)="goToCreateOrder()">ליצור</button>
                <!-- <mat-spinner *ngIf="filterActionButtonSpinner" class="filterActionButton"></mat-spinner> -->
            </div>
        </div>
    </div>
</div>