
<div class="pageTitle main2-title">
    <div>
        <!-- <div>{{dataByPage[0].customerName}}</div> -->
        <div><span class="subTitle">מספר הזמנה:</span> {{orderId != undefined ? orderId : 'הזמנה חדשה'}}</div>
        <!-- <div><span class="subTitle">סטטוס הזמנה: </span> {{dataByPage != undefined ? dataByPage.StatusDescription != undefined ? dataByPage.StatusDescription : dataByPage.Description  : ''}}</div> -->
        <div><span class="subTitle">סטטוס הזמנה: </span> {{orderStatus.description}}</div>
    </div>
</div>
<div class="page-wrap">
    <!-- <span *ngIf="!dataByPage">
        <mat-spinner></mat-spinner>
      </span> -->
    <!-- <div class="headerPage">
        <div class="main-title">{{dataByPage[0].companyName}}</div>
        <div class="sub-title">ID: {{id}}</div>
    </div> -->
    <div class="main-page-element" *ngIf="dataByPage">
        <div class="page-element width-block">
            <div class="formBorder">
                <div class="element-page-body flex-element">
                    <div class="flex-element-child">
                        <div class="element-page-title top-19">פרטי לקוח</div>
                        <div class="element-page-body customer-data" *ngIf="Customer">
                            <div *ngFor="let val of CustomerLangObj ; let i = index">
                                <div class="customer-info-element">
                                    <div class="customerDataTitle">{{returnHebTranslation(val.value)}}</div>
                                    <div>{{Customer[val.value]}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- digital order-->
        <div class="page-element">
            <div class="element-page-title">סיכום הזמנה דיגיטלית</div>
            <div class="element-page-body">
                <div class="innerElement margin0">
                    <div class="flexData">
                        <div class="flexDataChild">
                            <div>
                                <div class="dataBolder"> {{totalTicketCount}} </div>
                                <div class="customerDataTitle"> :כמות כרטיסים </div>
                            </div>
                            <div>
                                <div class="dataBolder">₪ {{totalOrderSum}} </div>
                                <div class="customerDataTitle">:סה"כ להזמנה </div>
                            </div>
                            <div>
                                <div class="dataBolder">₪ 0  </div>
                                <div class="customerDataTitle">:סה"כ יתרה </div>
                            </div>
                        </div>
                        <div class="flexDataChild">
                            <div>
                                <div class="dataBolder">{{(dataByPage != undefined ? dataByPage['MDate'] : '') | formatDate }} </div>
                                <div class="customerDataTitle">:תאריך יצירת הזמנה</div>
                            </div>
                            <div>
                                <div class="dataBolder"> {{(dataByPage != undefined ? dataByPage['ApproveDate'] : '') | formatDate}} </div>
                                <div class="customerDataTitle">:תאריך הנפקה</div>
                            </div>
                            <div>
                                <div class="dataBolder"> {{(dataByPage != undefined ? dataByPage['CancelationDate']: '') | formatDate}} </div>
                                <div class="customerDataTitle">:תאריך ביטול</div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="!newOrder">
                        <div class="viewCodeButton">
                                <button mat-button class="linkButton" [routerLink]="['/public/orderLines/',orderId,customerId]">צפה בקודים
                                    <mat-icon>preview</mat-icon>
                                </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- table -->
        <div class="page-element">
            <div class="element-page-title"> {{orderStatus.description}} </div>
            <div class="mat-elevation-z8">
                <table  mat-table 
                        [dataSource]="orderDetailsTable" class="mat-elevation-z8 tableInsideElement tableView"
                        dir="rtl">
                    <ng-container *ngFor="let obj of displayedColumnsOrderDetails; let columnNum = index;">

                        <ng-container *ngIf="obj != 'additionalColumn'" matColumnDef="{{obj}}">
                            <!-- <table> -->
                            <th mat-header-cell *matHeaderCellDef>{{columnsHeb[obj] | uppercase}}</th>
                            <td mat-cell *matCellDef="let element; let rowNum = index">

                                <!-- all rows before last -->
                                <div *ngIf="rowNum != orderDetails.length-1" class="dataRows">
                                    {{element[obj]}}
                                </div>

                                <!-- last row -->
                                <div class="last-row" *ngIf="rowNum == orderDetails.length-1" [class.displayNone]="!newOrder">
                                    <form [formGroup]="addToExecOrderForm" class="addToExecOrderForm"
                                        *ngIf="viewAddToExecOrderForm">
                                        <ng-container *ngIf="obj == 'QTY'">
                                            <mat-form-field>
                                                <mat-label>כמות כרטיסים</mat-label>
                                                <input matInput formControlName="ticketCount" #ticketCount
                                                    placeholder="0">
                                                <mat-error
                                                    *ngIf="addToExecOrderForm.get('ticketCount').hasError('pattern')">
                                                    *רק מספרים
                                                </mat-error>
                                            </mat-form-field>
                                        </ng-container>
                                        <ng-container *ngIf="obj == 'LoadSum'">
                                            <mat-form-field>
                                                <mat-label>סכום טעינה</mat-label>
                                                <input matInput formControlName="chargeAmount" placeholder="1000 - 1.00"
                                                    #chargeAmount>
                                                <!-- <span matPrefix>00.</span> -->
                                                <mat-error
                                                    *ngIf="addToExecOrderForm.get('chargeAmount').hasError('min')">
                                                    * ערך מינימלי 1
                                                </mat-error>
                                                <mat-error
                                                    *ngIf="addToExecOrderForm.get('chargeAmount').hasError('max')">
                                                    * ערך מקסימלי 1000
                                                </mat-error>
                                                <mat-error
                                                    *ngIf="addToExecOrderForm.get('chargeAmount').hasError('pattern')">
                                                    *רק מספרים
                                                </mat-error>
                                            </mat-form-field>
                                        </ng-container>
                                        <ng-container *ngIf="obj == 'ValidationDate'">
                                            <mat-form-field class="datePicker datePickerPadding marginTop-1"
                                                appearance="fill" dir="ltr">
                                                <input matInput formControlName="validity"
                                                    [matDatepickerFilter]="calendarFilter" [matDatepicker]="picker">
                                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                <mat-datepicker #picker></mat-datepicker>
                                            </mat-form-field>
                                        </ng-container>
                                        <ng-container *ngIf="obj == 'TotalForItem'">
                                            <mat-form-field class="inputIncludeValue marginTop-1">
                                                <input matInput formControlName="TotalForItem">
                                                <span class="inputValue">
                                                    {{this.addToExecOrderForm.get('ticketCount').value *
                                                    this.addToExecOrderForm.get('chargeAmount').value}}
                                                </span>
                                                <!-- <span matPrefix>00.</span> -->
                                            </mat-form-field>
                                        </ng-container>
                                        <!-- <ng-container *ngIf="obj != 'ticketCount' && obj != 'chargeAmount' && obj != 'validity' && obj != 'totalCharge'">
                                                
                                            </ng-container> -->
                                    </form>
                                </div>

                            </td>
                        </ng-container>

                        <ng-container *ngIf="obj == 'additionalColumn'" matColumnDef="{{obj}}">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let element; let rowNum = index;">
                                <div *ngIf="rowNum != orderDetails.length-1" class="tableButton" #orderLinesChildren>
                                    <!-- <button mat-icon-button class="deleteButton" (click)="deleteRow(element, rowNum)">מחק</button> -->
                                    <mat-icon *ngIf="orderStatus.id == '1' || orderStatus.id == '0'" class="deleteIcon" (click)="deleteRow(element, rowNum)" matTooltip="מחק">delete</mat-icon>
                                    <mat-spinner class="spinner disableSpinner" id="spinnerDelete{{element.id}}"></mat-spinner>
                                </div>
                                <div *ngIf="(rowNum == orderDetails.length-1) && newOrder" class="tableButton">
                                    <button mat-button class="addButton" (click)="addOrderLine()">הכנס</button>
                                    <div class="error" *ngIf="addOrderLineErrMsg != ''">{{addOrderLineErrMsg}}</div>
                                    <mat-spinner class="spinner orangeSp" *ngIf="insertOrderLineSpinner"></mat-spinner>
                                </div>

                            </td>
                        </ng-container>

                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsOrderDetails"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsOrderDetails;"></tr>

                </table>
            </div>

            <div class="innerElement flexElement">
                <div class="flexButtonsElement">
                    <div *ngIf="orderStatus.id == '1'">
                        <button mat-button class="deleteButton" (click)="deleteOrder()">מחק הזמנה
                            <mat-icon>delete</mat-icon>
                            <mat-spinner class="spinner" *ngIf="deleteCardsSpinner"></mat-spinner>
                        </button>
                        <div class="saveMessage" *ngIf="orderMsgDelete != ''">{{orderMsgDelete}}</div>
                        <div class="error" *ngIf="errorMsgDelete != ''">{{errorMsgDelete}}</div>
                    </div>
                    <div *ngIf="orderStatus.id == '1'">
                        <button mat-button class="addButton" (click)="ApproveOrder()">אישור הזמנה
                            <mat-icon>done_outline</mat-icon>
                            <mat-spinner class="spinner orangeSp" *ngIf="createCardsSpinner"></mat-spinner>
                        </button>
                        <div class="error" *ngIf="errorMsg != ''">{{errorMsg}}</div>
                        <div class="saveMessage" *ngIf="orderMsg != ''">{{orderMsg}}</div>
                        
                    </div>
                </div>
                <div class="refBlock">
                    <mat-form-field>
                        <mat-label dir="rtl">מספר אסמכתא</mat-label>
                        <input matInput [formControl]="RefControl">
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
</div>