<div class="pageTitle main2-title sticky top100">
    <div>
        <!-- <div>{{dataByPage[0].customerName}}</div> -->
        <div><span class="subTitle">מספר הזמנה:</span> {{orderIdToPreview != undefined ? orderIdToPreview : 'הזמנה
            חדשה'}}</div>
        <!-- <div><span class="subTitle">סטטוס הזמנה: </span> {{dataByPage != undefined ? dataByPage.StatusDescription != undefined ? dataByPage.StatusDescription : dataByPage.Description  : ''}}</div> -->
        <div>
            <span class="subTitle">סטטוס הזמנה: </span>
            <span [class.flickerTitle]='this.createCardsSpinner'> {{descriptionStatusInjected != '' ?
                descriptionStatusInjected : orderStatus.description}}</span>
        </div>
    </div>
    <div class="readOnliNotifivation"
        *ngIf="pagePermissionAccessLevel.AccessLevel == this.MockData.accessLevelReadOnly">
        {{MsgList.readOnly}}
        <mat-icon>info</mat-icon>
    </div>
</div>
<span *ngIf="dataByPage == null">
    <mat-spinner></mat-spinner>
</span>
<div class="page-wrap">

    <!-- <div class="headerPage">
        <div class="main-title">{{dataByPage[0].companyName}}</div>
        <div class="sub-title">ID: {{id}}</div>
    </div> -->
    <div class="main-page-element" *ngIf="dataByPage">
        <div class="page-element width-block">
            <div class="formBorder">
                <div class="element-page-body flex-element">
                    <div class="flex-element-child">
                        <div class="element-page-title paddingB0">פרטי לקוח</div>
                        <div class="element-page-body customer-data" *ngIf="Customer">
                            <div *ngFor="let val of CustomerLangObj ; let i = index">
                                <div class="customer-info-element">
                                    <div class="customerDataTitle">{{returnHebTranslation(val.value)}}</div>
                                    <div>{{newCustomer[val.value]}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <!-- digital order-->
        <div class="page-element flexElements">
            <div class="element-page-title"> {{OrderSummaryTitle}} </div>
            <div class="element-page-body">
                <div class="innerElement margin0">
                    <div class="flexData">
                        <div class="flexDataChild">
                            <div>
                                <div class="dataBolder"> {{totalTicketCount | number:'1.0-0'}} </div>
                                <div class="customerDataTitle"> :כמות כרטיסים </div>
                            </div>
                            <div>
                                <div class="dataBolder">₪ {{totalOrderSum | number:'1.0-0'}} </div>
                                <div class="customerDataTitle">:סה"כ להזמנה </div>
                            </div>
                            <div>
                                <div class="dataBolder">₪ {{dataByPage.Ballance == undefined ? 0 : dataByPage.Ballance}}
                                </div>
                                <div class="customerDataTitle">:סה"כ יתרה </div>
                            </div>
                        </div>
                        <div class="flexDataChild">
                            <div>
                                <div class="dataBolder">{{(dataByPage != undefined ? dataByPage['MDate'] : '') |
                                    formatDate }} </div>
                                <div class="customerDataTitle">:תאריך יצירת הזמנה</div>
                            </div>
                            <div>
                                <div class="dataBolder"> {{(dataByPage != undefined ? dataByPage['ApproveDate'] : '') |
                                    formatDate | mockDateToNull}} </div>
                                <div class="customerDataTitle">:תאריך הנפקה</div>
                            </div>
                            <div>
                                <div class="dataBolder"> {{(dataByPage != undefined ? dataByPage['CancelationDate']: '')
                                    | formatDate | mockDateToNull}} </div>
                                <div class="customerDataTitle">:תאריך ביטול</div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="viewCodeButton">

                            <!--[routerLink]="['/public/orderLines/',orderId,customerId]"-->
                            <button *ngIf="orderStatus.id > '1'" mat-button class="linkButton"
                                (click)="goToOrderLines(orderId, customerId)"> צפה בקודים
                                <mat-icon>preview</mat-icon>
                            </button>
                            <button *ngIf="(excelOrder || LoadingVoucherByExcelHavePhoneNumber) && orderStatus.id > '1'"
                                mat-button [class.linkButton]="!additionalOptionsSMS"
                                [class.sendButton]="additionalOptionsSMS" (click)="openSendSmsBlock()">שליחה לכולם
                                <mat-icon>sms</mat-icon>
                            </button>
                            <button *ngIf="orderStatus.id > '1'" mat-button class="linkButton"
                                (click)="excelFileExport()">ייצאו לאקסל
                                <!-- <fa-icon [icon]="faFileExcel"></fa-icon> -->
                                <!-- <mat-icon class="mat-icon-rtl-mirror" svgIcon="thumb-up" class="matIconSVGWrap"> -->
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    aria-hidden="true" role="img" width="1em" height="1em"
                                    preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" class="icon-svg">
                                    <path class="icon-svg"
                                        d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8l-6-6m1.8 18H14l-2-3.4l-2 3.4H8.2l2.9-4.5L8.2 11H10l2 3.4l2-3.4h1.8l-2.9 4.5l2.9 4.5M13 9V3.5L18.5 9H13z" />
                                </svg>
                                <!-- </mat-icon> -->
                            </button>

                        </div>

                    </div>


                    <!-- send sms view block -->
                    <!-- additionalOptionsSMS -->
                    <div [@openClose]="additionalOptionsSMS" [class.additionalOptionsSMS]="additionalOptionsSMS"
                        [class.padding0]="additionalOptionsSMS">
                        <form [formGroup]="sendSmsGroup">
                            <div class="smsFormWrap">
                                <div class="selectWrap">
                                    <mat-form-field>
                                        <mat-label>בחר תבנית מסרון</mat-label>
                                        <mat-select formControlName="smsTemplates"
                                            (selectionChange)="smsTempleteSelect($event)">
                                            <mat-option *ngFor="let template of smsTemplatesData" [value]="template.Id">
                                                {{template.TemplateName}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="textAreaWrap">
                                    <mat-form-field class="textAreaWrap" appearance="outline">
                                        <textarea matInput formControlName="previewSmsTemplate" cdkTextareaAutosize
                                            #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="5"
                                            cdkAutosizeMaxRows="10" readonly>
                                            </textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="buttonSendSms">
                                <button mat-button class="sendButton" (click)="sendSMS()" [disabled]="sendButtonSms">שלח
                                    הודעה
                                    לכולם
                                </button>
                                <div class="errorSendSms error" [@openClose]="errorSendSms != ''">
                                    {{errorSendSms}}
                                </div>
                            </div>

                        </form>
                    </div>


                </div>
            </div>

            <div>
                <!-- <div class="element-page-title  marginTop">תאור של הזמנה</div> -->
                <!-- <div class="innerElement margin0 comments">
                    <form [formGroup]="OrderNameGroup">
                        <mat-form-field>
                            <textarea matInput placeholder="...תאור של הזמנה" formControlName="Comments"
                                cdkTextareaAutosize #autosize="cdkTextareaAutosize"></textarea>
                            <mat-error>{{MsgList.requiredField}}
                                <mat-icon>error</mat-icon>
                            </mat-error>
                        </mat-form-field>
                    </form>
                </div> -->
            </div>


            <div class="flexButtonsElement">
                <div *ngIf="orderStatus.id == '1' || orderStatus.id == '4'" class="deleteB margin">
                    <!-- <button mat-button class="deleteButton" (click)="deleteOrder()">מחק הזמנה -->
                    <mat-icon
                        *ngIf="(this.orderType == this.OrderType.ManualOrder || this.orderType == this.OrderType.OrderByExcel)"
                        class="deleteIcon" (click)="deleteOrder()" matTooltip="מחק הזמנה">delete</mat-icon>
                    <mat-icon
                        *ngIf="(this.orderType == this.OrderType.LoadingVoucherByExcel || this.orderType == this.OrderType.LoadingVouchersManually)"
                        class="deleteIcon" (click)="deleteOrder()" matTooltip="מחק הזמנה">delete</mat-icon>
                    <!-- <mat-spinner class="spinner" *ngIf="deleteCardsSpinner"></mat-spinner> -->
                    <!-- </button> -->
                    <!-- <div class="saveMessage" [@openClose]="orderMsgDelete != ''">{{orderMsgDelete}}</div>
                    <div class="error" [@openClose]="errorMsgDelete != ''">{{errorMsgDelete}}</div> -->
                </div>



                <!-- 
                <div class="wrapAprDel">
                    <button mat-button class="linkButton" (click)="saveChanges()">שמור שינויים
                        <mat-icon>save</mat-icon>
                    </button> -->
                <!-- <mat-spinner class="spinner orangeSp" *ngIf="saveChangesSpinner"></mat-spinner>
                    <div class="error" [@openClose]="errorRefMsg != ''">{{errorRefMsg}}</div>
                    <div class="saveMessage" [@openClose]="orderRefMsg != ''">{{orderRefMsg}}</div> -->

                <!-- </div> -->


                <div *ngIf="
                            orderStatus.id == '1' && 
                           ( (dataByPage.DigitalBatch != undefined && (dataByPage.DigitalBatch > 0 || dataByPage.DigitalBatch != 0)) ||
                            this.orderType == this.OrderType.LoadingVoucherByExcel )">
                    <!-- <div class="viewCodeButton"> -->

                    <!--[routerLink]="['/public/orderLines/',orderId,customerId]"-->
                    <button mat-button class="linkButton" (click)="goToOrderLines(orderId, customerId)">
                        {{GoToOrderLinesTitle}}
                        <mat-icon>preview</mat-icon>
                    </button>
                    <!-- </div> -->
                </div>
                <div *ngIf="orderStatus.id == '1' && (this.orderType == this.OrderType.ManualOrder || this.orderType == this.OrderType.OrderByExcel)"
                    class="wrapAprDel nextLevelButton">
                    <button mat-button class="addButton" (click)="ApproveOrder($event)"> אישור ויצירת תווים
                        <mat-icon>done_outline</mat-icon>
                    </button>
                </div>
                <div *ngIf="orderStatus.id == '1' && (this.orderType == this.OrderType.LoadingVoucherByExcel || this.orderType == this.OrderType.LoadingVouchersManually)"
                    class="wrapAprDel nextLevelButton">
                    <button mat-button class="addButton" (click)="ApproveLoadingOrder($event)"> אישור וטעינת תווים
                        <mat-icon>done_outline</mat-icon>
                    </button>
                </div>
                <mat-spinner class="spinner orangeSp" *ngIf="createCardsSpinner"></mat-spinner>
            </div>
            <!-- <div [@openClose]="infoMsg != ''" [@openClose]="errorMsg != ''" class="infoMsg">
                <mat-icon class="infoIcon">info</mat-icon>
                <div class="infoMessage" [innerHTML]="infoMsg"></div>
                <div class="infoMessage" [innerHTML]="errorMsg"></div>
            </div> -->
        </div>

        <!-- table -->
        <div class="page-element">
            <div class="element-page-title"> פרטי הזמנה </div>

            <!-- create orders line  <<NOT for loading vouchers manually>>  -->
            <div class="tableWrap tableWrapWithScroll mat-elevation-z8 tableWrapNoInfo"
                *ngIf="orderType != OrderType.LoadingVouchersManually">
                <table mat-table [dataSource]="orderDetailsTable"
                    class="mat-elevation-z8 tableInsideElement tableFirstColumnWidthShort tableView" dir="rtl">
                    <ng-container *ngFor="let obj of displayedColumnsOrderDetails; let columnNum = index;">

                        <ng-container *ngIf="obj != 'additionalColumn'" matColumnDef="{{obj}}">
                            <!-- <table> -->
                            <th mat-header-cell *matHeaderCellDef>{{columnsHeb[obj] | uppercase}}</th>
                            <td mat-cell *matCellDef="let element; let rowNum = index">


                                <!-- all rows before last -->
                                <div *ngIf="(obj != 'QTY' && obj != 'TotalForItem' && obj != 'LoadSum' && obj != 'ValidationDate') && rowNum != orderDetails.length-1"
                                    class="dataRows">
                                    {{element[obj]}}
                                </div>
                                <div *ngIf="obj == 'ValidationDate' && rowNum != orderDetails.length-1"
                                    class="dataRows">
                                    <div *ngIf="orderStatus.id != '4' " class="changeDate"
                                        (click)="changeDateOfRow(element, obj)">
                                        <mat-icon matTooltip="ערוך לוח שנה">edit_calendar</mat-icon>
                                        <span>{{element[obj]}}</span>
                                    </div>
                                    <div *ngIf="(orderStatus.id == 4 && (dataByPage.DigitalBatch == 0)) && !IsB2COrder">
                                        {{element[obj]}}
                                    </div>
                                    <div *ngIf="(orderStatus.id == '4' && (dataByPage.DigitalBatch > 0 || dataByPage.DigitalBatch != 0)) && !IsB2COrder"
                                        class="changeDate" [class.not-active]="dateChanging"
                                        (click)="changeDateOfRow(element, obj)">
                                        <mat-spinner class="spinner" *ngIf="dateChanging"></mat-spinner>

                                        <mat-icon matTooltip="ערוך לוח שנה">edit_calendar</mat-icon>
                                        <span>{{element[obj]}} </span>
                                    </div>

                                    <div *ngIf="IsB2COrder" class="changeDate" [class.not-active]="dateChanging"
                                        (click)="changeDateOfRow(element, obj)">
                                        <mat-spinner class="spinner" *ngIf="dateChanging"></mat-spinner>

                                        <mat-icon matTooltip="ערוך לוח שנה">edit_calendar</mat-icon>
                                        <span>{{element[obj]}} </span>
                                    </div>
                                </div>


                                <div
                                    *ngIf="(obj == 'TotalForItem' || obj == 'LoadSum' || obj == 'QTY') && rowNum != orderDetails.length-1">
                                    {{element[obj] | number:'1.0-0'}}
                                </div>
                                <!-- last row -->
                                <!-- [class.displayNone]=" !newOrder || excelOrder" -->
                                <div class="last-row"
                                    *ngIf="((rowNum == orderDetails.length-1) && !excelOrder && dataByPage.StatusId == 1 && this.orderType != this.OrderType.LoadingVoucherByExcel) || (newOrder && (rowNum == orderDetails.length-1))">
                                    <form [formGroup]="addToExecOrderForm" class="addToExecOrderForm"
                                        *ngIf="viewAddToExecOrderForm">
                                        <ng-container *ngIf="obj == 'QTY'">
                                            <mat-form-field>
                                                <mat-label>כמות כרטיסים</mat-label>
                                                <input matInput formControlName="ticketCount" #ticketCount
                                                    placeholder="0" inputWithComma>
                                                <!-- <mat-error
                                                    [@openClose]="addToExecOrderForm.get('ticketCount').hasError('pattern')">
                                                    *רק מספרים
                                                </mat-error> -->
                                            </mat-form-field>
                                        </ng-container>
                                        <ng-container *ngIf="obj == 'LoadSum'">
                                            <mat-form-field>
                                                <mat-label>סכום טעינה</mat-label>
                                                <input matInput formControlName="chargeAmount" #chargeAmount
                                                    inputWithComma [attr.maxlength]="5">
                                                <!-- <span matPrefix>00.</span> -->
                                                <mat-error
                                                    [@openClose]="addToExecOrderForm.get('chargeAmount').hasError('min')">
                                                    * ערך מינימלי 1
                                                </mat-error>
                                                <mat-error
                                                    [@openClose]="addToExecOrderForm.get('chargeAmount').hasError('max')">
                                                    * ערך מקסימלי 1000
                                                </mat-error>
                                                <mat-error
                                                    [@openClose]="addToExecOrderForm.get('chargeAmount').hasError('pattern')">
                                                    *מספרים או מספרים צפים בלבד
                                                </mat-error>
                                            </mat-form-field>
                                        </ng-container>
                                        <ng-container *ngIf="obj == 'ValidationDate'">
                                            <mat-form-field class="datePicker datePickerPadding marginTop-1"
                                                appearance="fill" dir="ltr">
                                                <input matInput formControlName="validity" [matDatepicker]="picker"
                                                    [min]="minOrderDate" readonly>
                                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                <mat-datepicker #picker></mat-datepicker>

                                            </mat-form-field>
                                        </ng-container>
                                        <ng-container *ngIf="obj == 'TotalForItem'">
                                            <mat-form-field class="inputIncludeValue marginTop-1">
                                                <input matInput formControlName="TotalForItem">
                                                <span class="inputValue">
                                                    {{((this.addToExecOrderForm.get('ticketCount').value != null ?
                                                    this.addToExecOrderForm.get('ticketCount').value :
                                                    '').replaceAll(',','')
                                                    *
                                                    (this.addToExecOrderForm.get('chargeAmount').value != null ?
                                                    this.addToExecOrderForm.get('chargeAmount').value :
                                                    '').replaceAll(',',''))
                                                    | number:'1.0-0'}}
                                                </span>
                                                <!-- <span matPrefix>00.</span> -->
                                            </mat-form-field>
                                        </ng-container>
                                        <!-- <ng-container *ngIf="obj != 'ticketCount' && obj != 'chargeAmount' && obj != 'validity' && obj != 'totalCharge'">
                                                
                                            </ng-container> -->
                                    </form>
                                </div>

                            </td>
                        </ng-container>

                        <ng-container *ngIf="obj == 'additionalColumn'" matColumnDef="{{obj}}">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let element; let rowNum = index;">
                                <div *ngIf="rowNum != orderDetails.length-1" class="tableButton" #orderLinesChildren>
                                    <!-- <button mat-icon-button class="deleteButton" (click)="deleteRow(element, rowNum)">מחק</button> -->
                                    <mat-icon *ngIf="(orderStatus.id == '1' || orderStatus.id == '0') && 
                                    (dataByPage.DigitalBatch == undefined)" class="deleteIcon"
                                        (click)="deleteRow(element, rowNum)" matTooltip="מחק">delete
                                    </mat-icon>

                                    <mat-icon
                                        *ngIf="(dataByPage.DigitalBatch != undefined && (dataByPage.DigitalBatch > 0 ||
                                        dataByPage.DigitalBatch != 0) && (orderDetails.length-1 != 1)) && (orderStatus.id == '1' || orderStatus.id == '0')"
                                        class="deleteIcon" (click)="deleteRow(element, rowNum)" matTooltip="מחק">delete
                                    </mat-icon>
                                    <mat-spinner class="spinner disableSpinner" id="spinnerDelete{{element.id}}">
                                    </mat-spinner>

                                </div>



                                <div *ngIf="((rowNum == orderDetails.length-1) && !excelOrder && dataByPage.StatusId == 1 && this.orderType != this.OrderType.LoadingVoucherByExcel) || (newOrder && (rowNum == orderDetails.length-1))"
                                    class="tableButton">

                                    <button mat-button class="addButton" (click)="addOrderLine()"
                                        [disabled]="addToExecOrderForm.invalid">הכנס</button>
                                    <!-- <mat-error class="error" *ngIf="addOrderLineErrMsg != ''">{{addOrderLineErrMsg}}
                                    </mat-error> -->
                                    <mat-spinner class="spinner orangeSp" *ngIf="insertOrderLineSpinner"></mat-spinner>
                                </div>

                            </td>
                        </ng-container>

                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsOrderDetails; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsOrderDetails;"></tr>

                </table>
                <mat-error class="error" *ngIf="addOrderLineErrMsg != ''">{{addOrderLineErrMsg}}
                </mat-error>
                <div class="noInfo saveMessage"
                    *ngIf="dataByPage.DigitalBatch != undefined && (dataByPage.DigitalBatch > 0 || dataByPage.DigitalBatch != 0)">
                    לא ניתן להוסיף שורות להזמנה שנוצרה מקובץ
                </div>
            </div>


            <!-- create orders line for loaded vouchers manually  -->
            <div class="tableWrap tableWrapWithScroll mat-elevation-z8 tableWrapNoInfo"
                *ngIf="orderType == OrderType.LoadingVouchersManually">
                <table mat-table [dataSource]="orderDetailsVouchersManuallyTable"
                    class="mat-elevation-z8 tableInsideElement tableView tableColumnShortWidth" dir="rtl">
                    <ng-container
                        *ngFor="let obj of displayedColumnsOrderDetailsVouchersManually; let columnNum = index;">

                        <ng-container *ngIf="obj != 'additionalColumn'" matColumnDef="{{obj}}">
                            <!-- <table> -->
                            <th mat-header-cell *matHeaderCellDef>{{columnsHebVouchersManually[obj] | uppercase}}</th>
                            <td mat-cell *matCellDef="let element; let rowNum = index">


                                <!-- all rows before last -->
                                <div *ngIf="(obj != 'LoadSum' && obj != 'TotalForItem' && obj != 'ValidationDate') && rowNum != orderDetailsVoucherManually.length-1"
                                    class="dataRows">
                                    {{element[obj] }}
                                </div>

                                <div
                                    *ngIf="(obj == 'LoadSum' || obj == 'TotalForItem') && rowNum != orderDetailsVoucherManually.length-1">
                                    {{element[obj] | number:'1.0-0' }}
                                </div>
                                <div *ngIf="obj == 'ValidationDate' && rowNum != orderDetailsVoucherManually.length-1"
                                    class="dataRows">
                                    <div *ngIf="orderStatus.id != '4'" class="changeDate"
                                        (click)="changeDateOfRow(element, obj)">
                                        <mat-icon matTooltip="ערוך לוח שנה">edit_calendar</mat-icon>
                                        <span>{{element[obj] }}</span>
                                    </div>
                                    <div *ngIf="orderStatus.id == 4 && (dataByPage.DigitalBatch == 0)"> {{element[obj]}}
                                    </div>
                                    <div *ngIf="orderStatus.id == '4' && (dataByPage.DigitalBatch > 0 || dataByPage.DigitalBatch != 0)"
                                        class="changeDate" [class.not-active]="dateChanging"
                                        (click)="changeDateOfRow(element, obj)">
                                        <mat-spinner class="spinner" *ngIf="dateChanging"></mat-spinner>

                                        <mat-icon matTooltip="ערוך לוח שנה">edit_calendar</mat-icon>
                                        <span>{{element[obj]}} </span>
                                    </div>
                                </div>



                                <!-- last row -->
                                <!-- [class.displayNone]="!newOrder || excelOrder" -->
                                <div class="last-row" *ngIf="(rowNum == orderDetailsVoucherManually.length-1) ">
                                    <form [formGroup]="manuallyVouchersForm" class="addToExecOrderForm"
                                        *ngIf="viewAddToExecOrderForm2">
                                        <ng-container *ngIf="obj == 'FromCard'">
                                            <mat-form-field>
                                                <mat-label>מכרטיס</mat-label>
                                                <input matInput formControlName="FromCard" placeholder="0" numbersOnly
                                                    minlength="8" maxlength="8"
                                                    (ngModelChange)="checkCardValidityFronSide(obj,$event)">
                                                <mat-error
                                                    *ngIf="(!manuallyVouchersForm.get('FromCard').errors?.required) && (manuallyVouchersForm.get('FromCard').errors?.minlength || manuallyVouchersForm.get('FromCard').errors?.maxlength)">
                                                    * מספר כרטיס חייב להכיל 8 תווים
                                                </mat-error>
                                                <mat-error
                                                    *ngIf="manuallyVouchersForm.get('FromCard').errors?.required">
                                                    * {{MsgList.requiredField}}
                                                </mat-error>
                                                <mat-error
                                                    *ngIf="manuallyVouchersForm.get('FromCard').errors != undefined && manuallyVouchersForm.get('FromCard').errors.FromCardNotBelongs">
                                                    {{cardFromNotBelongsError}}*
                                                </mat-error>
                                                <mat-error
                                                    *ngIf="manuallyVouchersForm.get('FromCard').errors != undefined && manuallyVouchersForm.get('FromCard').errors.CardNumberExist">
                                                    *מספר כרטיס קיים בהזמנה
                                                </mat-error>


                                                <!-- <mat-error *ngIf="fromCardCheck">
                                                    * test error from card
                                                </mat-error> -->

                                            </mat-form-field>
                                        </ng-container>
                                        <ng-container *ngIf="obj == 'ToCard'">
                                            <mat-form-field>
                                                <mat-label>עד כרטיס</mat-label>
                                                <input matInput formControlName="ToCard" placeholder="0" numbersOnly
                                                    minlength="8" maxlength="8"
                                                    (ngModelChange)="checkCardValidityFronSide(obj,$event)">
                                                <mat-error
                                                    *ngIf="(!manuallyVouchersForm.get('ToCard').errors?.required) && manuallyVouchersForm.get('ToCard').errors?.minlength || manuallyVouchersForm.get('ToCard').errors?.maxlength">
                                                    * מספר כרטיס חייב להכיל 8 תווים
                                                </mat-error>
                                                <mat-error *ngIf="manuallyVouchersForm.get('ToCard').errors?.required">
                                                    * {{MsgList.requiredField}}
                                                </mat-error>

                                                <mat-error
                                                    *ngIf="manuallyVouchersForm.get('ToCard').errors != undefined && manuallyVouchersForm.get('ToCard').errors.incorrect">
                                                    * מספר כרטיס נמוך מה 'מכרטיס'
                                                </mat-error>
                                                <mat-error
                                                    *ngIf="manuallyVouchersForm.get('ToCard').errors != undefined && manuallyVouchersForm.get('ToCard').errors.equalValueError">
                                                    * מספר כרטיס שווה ל 'מכרטיס'
                                                </mat-error>
                                                <mat-error
                                                    *ngIf="manuallyVouchersForm.get('ToCard').errors != undefined && manuallyVouchersForm.get('ToCard').errors.ToCardNotBelongs">
                                                    {{cardToNotBelongsError}}*
                                                </mat-error>
                                                <mat-error
                                                    *ngIf="manuallyVouchersForm.get('ToCard').errors != undefined && manuallyVouchersForm.get('ToCard').errors.CardNumberExist">
                                                    *מספר כרטיס קיים בהזמנה
                                                </mat-error>
                                            </mat-form-field>
                                        </ng-container>
                                        <ng-container *ngIf="obj == 'LoadSum'">
                                            <mat-form-field>
                                                <mat-label>סכום טעינה</mat-label>
                                                <input matInput formControlName="LoadSum" inputWithComma
                                                    [attr.maxlength]="5">
                                            </mat-form-field>
                                        </ng-container>
                                        <ng-container *ngIf="obj == 'ValidationDate'">
                                            <mat-form-field class="datePicker datePickerPadding marginTop-1"
                                                appearance="fill" dir="ltr">
                                                <input matInput formControlName="ValidationDate"
                                                    [matDatepicker]="picker2" [min]="minOrderDate" readonly>
                                                <mat-datepicker-toggle matSuffix
                                                    [for]="picker2"></mat-datepicker-toggle>
                                                <mat-datepicker #picker2></mat-datepicker>

                                            </mat-form-field>
                                        </ng-container>

                                        <ng-container *ngIf="obj == 'TotalForItem'">
                                            <mat-form-field class="inputIncludeValue marginTop-1" aria-readonly="true">
                                                <input matInput formControlName="TotalForItem" inputWithComma>
                                                <span class="inputValue">
                                                    {{ ( (this.manuallyVouchersForm.get('ToCard').value != null &&
                                                    this.manuallyVouchersForm.get('FromCard').value != null &&
                                                    this.manuallyVouchersForm.get('ToCard').value.length >= 8 &&
                                                    this.manuallyVouchersForm.get('FromCard').value.length >= 8) ?
                                                    (this.manuallyVouchersForm.get('LoadSum').value != null ?
                                                    this.manuallyVouchersForm.get('LoadSum').value :
                                                    '').replaceAll(',','')
                                                    * (
                                                    this.manuallyVouchersForm.get('ToCard').value -
                                                    this.manuallyVouchersForm.get('FromCard').value + 1) : 0) |
                                                    number:'1.0-0' }}
                                                </span>
                                            </mat-form-field>
                                        </ng-container>

                                        <ng-container *ngIf="obj == 'QTY'">
                                            <mat-form-field class="inputIncludeValue marginTop-1">
                                                <input matInput formControlName="CardsCount">
                                                <span class="inputValue">
                                                    {{(this.manuallyVouchersForm.get('ToCard').value != null &&
                                                    this.manuallyVouchersForm.get('FromCard').value != null &&
                                                    this.manuallyVouchersForm.get('ToCard').value.length >= 8 &&
                                                    this.manuallyVouchersForm.get('FromCard').value.length >= 8) ?
                                                    this.manuallyVouchersForm.get('ToCard').value -
                                                    this.manuallyVouchersForm.get('FromCard').value + 1 : 0}}
                                                </span>

                                            </mat-form-field>
                                        </ng-container>
                                    </form>
                                </div>

                            </td>
                        </ng-container>

                        <ng-container *ngIf="obj == 'additionalColumn'" matColumnDef="{{obj}}">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let element; let rowNum = index;">
                                <div *ngIf="rowNum != orderDetailsVoucherManually.length-1" class="tableButton"
                                    #orderLinesChildren2><!--orderLinesChildren2 not completed (delete manually)-->
                                    <mat-icon class="deleteIcon" (click)="deleteRow(element, rowNum)"
                                        matTooltip="מחק">delete
                                    </mat-icon>
                                    <mat-spinner class="spinner disableSpinner" id="spinnerDelete{{element.id}}">
                                    </mat-spinner>

                                </div>

                                <div class="tableButton" *ngIf="rowNum == orderDetailsVoucherManually.length-1">
                                    <button mat-button class="addButton" (click)="addOrderLineForManualVoucher()"
                                        [disabled]="manuallyVouchersForm.invalid">הכנס</button>
                                    <!-- <mat-error class="error" *ngIf="addOrderLineErrMsg != ''">{{addOrderLineErrMsg}}
                                    </mat-error> -->
                                    <mat-spinner class="spinner orangeSp" *ngIf="insertOrderLineSpinner2"></mat-spinner>
                                </div>

                            </td>
                        </ng-container>

                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsOrderDetailsVouchersManually; sticky: true">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsOrderDetailsVouchersManually;"></tr>

                </table>
                <!-- <div class="noInfo saveMessage"
                    *ngIf="dataByPage.DigitalBatch != undefined && (dataByPage.DigitalBatch > 0 || dataByPage.DigitalBatch != 0)">
                    לא ניתן להוסיף שורות להזמנה שנוצרה מקובץ
                </div> -->
                <mat-error class="error" *ngIf="addOrderLineErrMsg != ''">{{addOrderLineErrMsg}}
                </mat-error>
            </div>










            <form [formGroup]="OrderChangesGroup" (submit)="saveChanges()" class="marginTop">
                <div class="marginOutline flexElement  wrapForFlex">

                    <div class="policyType">
                        <mat-form-field appearance="outline" *ngIf="policyList.length > 0">
                            <mat-label>סוג תו</mat-label>
                            <mat-select formControlName="PolicyControl" readonly="true"
                                [disabled]="orderStatus.id != '1' && !IsB2COrder">
                                <ng-container *ngFor="let policy  of policyList; let i = index">
                                    <mat-option [value]="policy.POL_ID">
                                        {{policy.POL_NAME }} {{policy.POL_ID}}
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                            <mat-error>
                                {{MsgList.requiredField}}
                                <mat-icon>error</mat-icon>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="refBlock">
                        <mat-form-field appearance="outline">
                            <mat-label dir="rtl">מספר אסמכתא</mat-label>
                            <input matInput formControlName="RefControl" numbersOnly dir="rtl">
                            <mat-error>{{MsgList.requiredField}} <mat-icon>error</mat-icon>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="marginOutline flexElement  wrapForFlex">
                    <div></div>
                    <div class="supplierBlock">
                        <mat-form-field appearance="outline" *ngIf="supplierGroups.length > 1">
                            <mat-label>קבוצת ספקים</mat-label>
                            <mat-select formControlName="SupplierGroups" readonly="true">
                                <ng-container *ngFor="let supplier  of supplierGroups; let i = index">
                                    <mat-option [value]="supplier.SUPGRP_ID">
                                        {{supplier.SUPGRP_NAME }}
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                            <mat-error>
                                {{MsgList.requiredField}}
                                <mat-icon>error</mat-icon>
                            </mat-error>
                        </mat-form-field>
                    </div>

                </div>
                <div class="marginOutline flexElement  wrapForFlex comments">
                    <!-- <form [formGroup]="OrderNameGroup"> -->
                    <mat-form-field appearance="outline">
                        <mat-label dir="rtl">תאור הזמנה</mat-label>
                        <textarea matInput placeholder="תאור של הזמנה" formControlName="Comments" cdkTextareaAutosize
                            #autosize="cdkTextareaAutosize"></textarea>
                        <mat-error>{{MsgList.requiredField}}
                            <mat-icon>error</mat-icon>
                        </mat-error>
                    </mat-form-field>
                    <!-- </form> -->
                </div>

                <div class="wrapAprDel">
                    <mat-spinner class="spinner orangeSp" *ngIf="saveChangesSpinner"></mat-spinner>

                    <button mat-button class="linkButton">שמור שינויים
                        <mat-icon>save</mat-icon>
                    </button>
                    <!-- <mat-spinner class="spinner orangeSp" *ngIf="saveChangesSpinner"></mat-spinner>
                <div class="error" [@openClose]="errorRefMsg != ''">{{errorRefMsg}}</div>
                <div class="saveMessage" [@openClose]="orderRefMsg != ''">{{orderRefMsg}}</div> -->
                    <div [@openClose]="infoMsg != ''" [@openClose]="errorMsg != ''" class="infoMsg">
                        <mat-icon class="infoIcon">info</mat-icon>
                        <div class="infoMessage" [innerHTML]="infoMsg"></div>
                        <div class="infoMessage" [innerHTML]="errorMsg"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>