.customer-data{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
/* mat-spinner{
    margin: auto;
    position: absolute;
}
mat-spinner >  svg{
    width: 50px !important;
    height: 50px !important;
} */
.spinner{
    position: absolute !important;
    top: -2em;
    left: 1em;
}

.wrapAprDel{
    position: relative;
}
.tableButton {
    position: relative;
}
.smsSendInput{
    width: 100%;
}
.viewCodeButton{
    margin: 2rem 0 0rem 0;
    text-align: center;
}
.addToExecOrderForm  > mat-form-field{
    padding: 0 3px;
}
.customerDataTitle{
    text-align: center;
}
.margin0{
    margin: 0 auto;
}
.flexData{
    justify-content: space-between;
}
.flexDataChild{
    flex-grow: 1;
    flex-basis: 0;
}
.flexDataChild > div{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}
.flexDataChild > div > div{
    flex-grow: 1;
    flex-basis: 0;
}

.refBlock{
    flex-grow: 2;
}

.refBlock > mat-form-field{
    width: 100%;
}

.subTitle{
    margin-left: 10px;
    font-size: 1.3rem;
    color: #8989a4;
}

mat-spinner{
    margin: auto;
}

.inputValue{
    width: 100%;
    text-align: center;
    color: #757575;
}

.dataRows .mat-form-field{
    width: 100%;
}
.dataRows .mat-form-field input{
    text-align: center;
}
.dataRows .mat-form-field-appearance-legacy .mat-form-field-underline{
    background-color: unset;
}




tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }

  .tableWrapNoInfo{
      position: relative;
  }
  .noInfo{
      position: absolute;
      bottom: 15px;
      width: 100%;
      text-align: center;
  }

  .flexElements{
    display: flex;
    flex-direction: column;
  }
  .flexButtonsElement{
    flex-direction: row;
    justify-content: center;
    margin-top: auto;
  }

  .changeDate{
      text-decoration: underline;
  }
  .changeDate:hover{
      cursor: pointer;
  }







@media screen and (max-width: 1024px){
    /* .customer-data{
        flex-direction: column;
    } */
    .flexElement{
        flex-direction: column-reverse !important;
    }
    .customer-data > div{
        width: 50%;
        padding: 0 10px;
    }
    .flex-element-child{
        padding: 0;
    }
    .flexData{
        display: unset;
    }
    .flexData > div{
        margin: 15px 0;
    }
    .refBlock{
        margin: 5px;
    }
    .refBlock > mat-form-field{
        width: 100%;
    }
}