<div *ngIf="infoData" class="wrapComponent" style='background-image: url("{{checkPath(infoData.BackGround)}}")'>
    <div class="logInWrap">
        <div class="logInInfo">

            <!-- logo data -->
            <div class="customerLogoWrap">
                <img [src]="checkPath(infoData.Logo)">
            </div>

            <!-- main title -->
            <div class="InfoTitle BreakWord hr" id="InfoTitle" [innerHTML]="infoData.CompanyName | safe:'html'">
                <!-- גיפט קארד -->
                <!-- {{infoData.CompanyName}} -->
            </div>

            <!-- texts -->
            <div class="infoTextsWrap">
                <div class="textWrap">
                    <div class="hr" [innerHTML]="infoData.ShortDescription | safe:'html'" class="preWrap"></div>
                    <div class="hr">
                        <div *ngIf="!previewLongDescription"
                            [innerHTML]="(infoData.LongDescription | slice:0:150) + ' ...' | safe:'html' "
                            class="preWrap">
                        </div>
                        <div [@openClose]="previewLongDescription" [innerHTML]="infoData.LongDescription | safe:'html'"
                            class="preWrap">
                        </div>
                        <div (click)="previewLongDescriptionFunc()">
                            <span class="openMoreLess" *ngIf="!previewLongDescription">הצג עוד</span>
                            <span class="openMoreLess" *ngIf="previewLongDescription">הצג פחות</span>
                        </div>
                    </div>
                    <div class="hr BreakWord" [innerHTML]="infoData.Instructions | safe:'html'">
                        <!-- {{infoData.Instructions}} -->
                    </div>
                    <!-- <div *ngIf="infoData.ShortDescription == ''" [id]="'allText-' + i">
                        <div [innerHTML]="(infoData.LongDescription)"></div>
                    </div> -->




                    <!-- <div *ngIf="infoText.prevText == ''" [innerHTML]="(infoText.text)"></div>
                    <div *ngIf="infoText.prevText == ''" (click)="openAllText()">הצג עוד</div> -->

                </div>

            </div>

            <!-- contact data -->
            <div class="contactDataWrap">
                <div class="contactDataChild" *ngIf="infoData.LinktoBranches != '' && infoData.LinktoBranches != null">
                    <div>
                        <!--'https://' + -->
                        <a [href]="infoData.LinktoBranches" target="_blank">איפה ניתן לממש</a>
                    </div>
                    <mat-icon>list_alt</mat-icon>
                </div>
                <div class="contactDataChild" *ngIf="infoData.Phone != ''">
                    <div>
                        <div class="dirLTR">
                            <a [href]="'tel:' + infoData.Phone">
                                <div [innerHTML]="addHyphenToPhoneNumber(infoData.Phone) | safe:'html'"></div>
                            </a>
                        </div>
                    </div>
                    <mat-icon>phone</mat-icon>
                </div>
                <div class="contactDataChild">
                    <div>
                        <a [href]="'mailto:' + infoData.Mail">
                            <div [innerHTML]="infoData.Mail | safe:'html'"></div>
                        </a>
                    </div>
                    <mat-icon *ngIf="infoData.Mail != ''">mail_outline</mat-icon>
                </div>
                <!-- <div class="contactDataChild">
                    <div>
                        <a [href]="'https://' + infoData.Website" target="_blank">{{infoData.Website}}</a>
                    </div>
                    <mat-icon *ngIf="infoData.Website != ''">web</mat-icon>
                </div> -->
            </div>
        </div>
        <div class="logInSum">
            <!-- <div class="logInSumForm">
                <div class="logInForm"> -->
            <div class="log-in">
                <div class="wrap-form">
                    <!-- <form  class="logInForm"> -->
                    <!-- <p> -->
                    <form [formGroup]="sumForm" class="example-form" (ngSubmit)="onSubmit()">
                        <div class="loginFormImgWrap">
                            <img [src]="checkPath(infoData.GiftCardPic)">

                        </div>
                        <mat-form-field class="example-full-width sumInputWrap" appearance="outline">
                            <!-- <mat-label class="paddingLabel">"סכום המתנה"'/mat-label> -->
                            <input type="text" matInput placeholder="סכום המתנה" formControlName="cardSumControl"
                                autofocus numbersOnly>
                            <!-- <mat-hint *ngIf="cardSumControl.hasError('pattern')">fill only numbers</mat-hint> -->
                            <span matPrefix class="inputIcon">&#8362;</span>
                            <mat-error *ngIf="sumForm.get('cardSumControl').hasError('required')">{{msgAlert}}
                            </mat-error>
                            <mat-error *ngIf="sumForm.get('cardSumControl').hasError('min')">&#8362; הסכום המינימלי הינו
                                {{minAmount}} </mat-error>


                        </mat-form-field>
                        <div class="wrap-button-login">
                            <button mat-button type="submit" class="bigButton">בואו נתחיל</button>

                            <!-- <span *ngIf="true">
                                          <mat-spinner></mat-spinner>
                                        </span> -->
                        </div>

                        <div class="underInputInfo"
                            *ngIf="infoData.Discount != null && sumForm.get('cardSumControl').value != ''">הסכום
                            לתשלום לאחר הנחה של
                            <!-- <span class="material-icons">percent</span> -->
                            <span style="margin-right: 3px;"> &#37; </span>
                            {{infoData.Discount}}
                            הינו {{sumForm.get('cardSumControl').value - (sumForm.get('cardSumControl').value *
                            infoData.Discount/100)}}
                            <span style="margin-right: 3px;"> &#8362; </span>
                        </div>

                    </form>
                    <!-- </p> -->

                    <!-- </form> -->
                </div>
            </div>
            <!-- </div>
            </div> -->
        </div>
        <!-- <div class="customerLogoWrapMobile">
            <img [src]="infoData.logoImg">
        </div> -->
    </div>
</div>