.close-icon-wrap {
   position: relative;
}

.close-icon-wrap mat-icon {
   position: absolute;
   right: -20px;
   top: -25px;
   font-size: 32px;
   color: #fff;
}

.log-in {
   padding: 15px;
}

tr.mat-header-row {
   background: #EFEFED;
}

.wrap-form {
   height: 450px;
   /* overflow-y: scroll; */
}

td:last-child {
   padding-right: 24px !important;
}

.mat-table thead {
   z-index: 999;
}


.wrapSendButton>div {
   margin-top: 1em;
   text-align: right;
}