<div>
    <div class="close-icon-wrap" (click)="dialogClose()">
        <mat-icon matTooltip="סגור" matTooltipPosition="right">cancel</mat-icon>
    </div>


    <div class="log-in">
        <div class="wrap-form">
            <div class="title">
                <!-- title -->
            </div>
            <div class="dialogMessage">
                <mat-form-field
                                class="textCenter" 
                                dir="ltr">
                <input matInput [formControl]="validity">
                  
            </mat-form-field>
            </div>
            <div>
                <!-- subtitle -->
            </div>
            <div class="wrapSendButton">
                <div>
                    <button mat-button class="addButton" (click)="select()">שמור</button>
                </div>
            </div>
        </div>
    </div>
</div>