.mat-progress-spinner {
    margin: auto;
    z-index: 999;
}

/* .tableActions{
    display: flex;
    flex-direction: row-reverse;
    margin: 2em 0;
} */
/* .tableActions>div {
    margin-left: 10px;
} */

.tableWrap {
    position: relative;
}

.main2-title {
    flex-direction: row-reverse;
    ;
}

.smsLabel {
    position: absolute;
    bottom: 0.3em;
    right: 2em;
}

.additionalOptions {
    display: flex;
    flex-direction: column;
    margin: 0 auto !important;
    overflow: visible !important;
    width: 50%;
}

.additionalOptionsSMS>div {
    /* margin: auto;
    flex-grow: 1;
    flex-basis: 0;
    text-align: CENTER; */
    /* margin: 0 20px; */
}

.additionalOptionDelete {
    display: flex;
    margin: 2em 0;
    padding: 15px;
    width: fit-content;
    margin-left: auto;
}

.voidBWrap {
    position: relative;
    text-align: center;
}

.voidSpinner {
    position: absolute;
    top: -24px;
    right: 7px;
}

/* table tr > td:first-child{
    background:#DDE0E0;
} */
.checkBoxBG {
    /* background:#EFEFED; */
}

.textAreaWrap {
    width: 100%;
}

.buttonSendSms {
    text-align: center;
    margin-bottom: 10px !important;
}

.selectWrap {
    margin: auto 0 !important;
}


@media screen and (max-width: 1024px) {
    .tableActions {
        justify-content: center;
    }
}