.hiddenBlockWrap{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
}

.hiddenBlockWrap > div{
    flex-grow: 1;
}

.formWrap{
    flex-direction: column;
}
.smsFormWrap mat-form-field{
    width:100%;
}

@media screen and (max-width: 1024px){

    .formWrap {
        flex-wrap: wrap;
    }
    .formWrap > div.formWrapRow {
        flex-basis: unset;
        width: 100%;
    }
    .mobileTwoCol > div{
        margin: 0px 10px;
        flex-grow: 0;
        width: 44%;
    }
}
