<div class="pageTitle main2-title">
    <div>שוברים</div>
    <div>
        <a routerLink="/public/orderCards">
            <button mat-raised-button class="titleMenuButton">הזמנת שוברים
                <mat-icon>queue</mat-icon>
            </button>
        </a>
    </div>
</div>
<div class="page-wrap">

    <!-- filter table -->
    <div class="page-element width-block-auto">
        <div class="element-page-title">חיפוש שוברים </div>
        <div class="formBorder formElement">
            <form [formGroup]="cardsForm">
                <div class="formWrap">
                    <div class="formWrapRow idNumber">
                        <div>
                            <mat-form-field>
                                <mat-label>מספר שובר</mat-label>
                                <input matInput placeholder = "מספר שובר" formControlName="CardId">
                                <button class="clearButton" *ngIf="this.cardsForm.get('CardId').value != ''" mat-button  matPrefix mat-icon-button aria-label="Clear" (click)="this.cardsForm.get('CardId').setValue('')">
                                    <mat-icon>close</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="formWrapRow">
                        <div>
                            <mat-form-field>
                                <mat-label>שם פרטי</mat-label>
                                <input matInput placeholder = "שם פרטי" formControlName="FName">
                                <button class="clearButton" *ngIf="this.cardsForm.get('FName').value != ''" mat-button  matPrefix mat-icon-button aria-label="Clear" (click)="this.cardsForm.get('FName').setValue('')">
                                    <mat-icon>close</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field>
                                <mat-label>שם משפחה</mat-label>
                                <input matInput placeholder = "שם משפחה" formControlName="LName">
                                <button class="clearButton" *ngIf="this.cardsForm.get('LName').value != ''" mat-button  matPrefix mat-icon-button aria-label="Clear" (click)="this.cardsForm.get('LName').setValue('')">
                                    <mat-icon>close</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field>
                                <mat-label>מספר טלפון נייד</mat-label>
                                <input matInput placeholder = "מספר טלפון נייד" formControlName="PhoneNo">
                                <button class="clearButton" *ngIf="this.cardsForm.get('PhoneNo').value != ''" mat-button  matPrefix mat-icon-button aria-label="Clear" (click)="this.cardsForm.get('PhoneNo').setValue('')">
                                    <mat-icon>close</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="formWrapRow">
                        <div>
                            <mat-form-field>
                                <mat-label>מספר הזמנה</mat-label>
                                <input matInput placeholder = "מספר הזמנה" formControlName="OrderId">
                                <button class="clearButton" *ngIf="this.cardsForm.get('OrderId').value != ''" mat-button  matPrefix mat-icon-button aria-label="Clear" (click)="this.cardsForm.get('OrderId').setValue('')">
                                    <mat-icon>close</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field appearance="fill" class="datePicker datePickerPadding marginTop-1">
                                <mat-label>מתאריך</mat-label>
                                <input matInput [matDatepicker]="picker2" formControlName="FromDate">
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field appearance="fill" class="datePicker datePickerPadding marginTop-1">
                                <mat-label>עד תאריך</mat-label>
                                <input matInput [matDatepicker]="picker" formControlName="ToDate">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="formWrapRow">
                        <div>
                            <mat-form-field>
                                <mat-label>ח"פ לקוח</mat-label>
                                <input matInput placeholder = "שם לקוח" formControlName="CustomerId">
                                <button class="clearButton" *ngIf="cardsForm.get('CustomerId').value != ''" mat-button  matPrefix mat-icon-button aria-label="Clear" (click)="this.cardsForm.get('CustomerId').setValue('')">
                                    <mat-icon>close</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                        <div>
                            <!-- <mat-form-field>
                                <mat-label>מזהה לקוח</mat-label>
                                <input matInput placeholder = "מספר לקוח" formControlName="userid">
                                <button class="clearButton" *ngIf="this.cardsForm.get('userid').value != ''" mat-button  matPrefix mat-icon-button aria-label="Clear" (click)="this.cardsForm.get('userid').setValue('')">
                                    <mat-icon>close</mat-icon>
                                </button>
                            </mat-form-field> -->
                        </div>
                        <div>
                            <!-- <mat-form-field>
                                <mat-label>tenant</mat-label>
                                <input matInput placeholder = "מספר לקוח" formControlName="tenantid">
                                <button class="clearButton" *ngIf="this.cardsForm.get('tenantid').value != ''" mat-button  matPrefix mat-icon-button aria-label="Clear" (click)="this.cardsForm.get('tenantid').setValue('')">
                                    <mat-icon>close</mat-icon>
                                </button>
                            </mat-form-field> -->
                        </div>
                    </div>
                </div>
                <div class="buttonsWrap">
                    <button mat-button class="linkButton" (click) = "resetForm()">אפס</button>
                    <!-- <button mat-button class="addButton" (click) = "filterTable()">חפש</button> -->
                    <button mat-button class="addButton" (click) = "getFilteredCards()">חפש</button>
                    <mat-spinner class="spinner" *ngIf="spinner"></mat-spinner>
                    <mat-error *ngIf="formErrorMsg != ''">{{formErrorMsg}}</mat-error>
                </div>

            </form>
        </div>
    </div>


    <!-- table -->
    <div class="page-element width-block-auto" *ngIf="viewTable">
        <div class="element-page-title">תוצאות חיפוש</div>
        <div class="mat-elevation-z8">
            <app-table
                [dataLabelsList]="cardsLabelForTable"
                [data_Source]="cardsDataSource"
                [linksListById]="linksListById"
            ></app-table>
        </div>
    </div>
</div>
