/* .mobileTwoCol{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
.mobileTwoCol > div{
    margin: 0px 30px;
    flex-grow: 1;
}

.spinner{
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    top: -18px;
}

.buttonsWrap{
    position: relative;
} */

.formWrap{
    flex-direction: column;
}

@media screen and (max-width: 1024px){

    .formWrap {
        flex-wrap: wrap;
    }
    .formWrap > div.formWrapRow {
        flex-basis: unset;
        width: 100%;
    }
    .mobileTwoCol > div{
        margin: 0px 10px;
        flex-grow: 0;
        width: 44%;
    }
}
