<div class="pageTitle main2-title">
    <div>רשימת לקוחות רשומים</div>
    <div>
            <button mat-raised-button class="titleMenuButton" routerLink="/public/newCustomer">לקוח חדש
                <mat-icon>person_add_alt_1</mat-icon>
            </button>
    </div>
</div>
<div class="page-wrap">
    <!--filter table-->
    <div class="page-element width-block-auto">
        <div class="element-page-title">חיפוש לקוחות</div>
        <div class="formBorder formElement">
            <form [formGroup]="filterCustomerForm">
                <div class="formWrap">
                    <div class="formWrapRow">
                        <div>
                            <mat-form-field>
                                <mat-label>מזהה לקוח</mat-label>
                                <input matInput placeholder="שם לקוח, ח.פ" formControlName="customerId" pattern="[0-9]*">
                                <mat-icon matPrefix *ngIf="this.filterCustomerForm.get('customerId').value == ''">person</mat-icon>
                                <button class="clearButton" *ngIf="this.filterCustomerForm.get('customerId').value != ''" mat-button  matPrefix mat-icon-button aria-label="Clear" (click)="this.filterCustomerForm.get('customerId').setValue('')">
                                    <mat-icon>close</mat-icon>
                                </button>
                                <mat-error *ngIf="filterCustomerForm.get('customerId').errors?.pattern">{{MsgList.numbersValidationErr}}</mat-error>

                            </mat-form-field>
                        </div>
                    </div>
                    <div class="formWrapRow">
                        <div>
                            <mat-form-field dir="ltr">
                                <mat-label>דוא''ל</mat-label>
                                <input matInput placeholder="exp@gmail.com" formControlName="customerEmail">
                                <mat-icon matPrefix *ngIf="this.filterCustomerForm.get('customerEmail').value == ''">email</mat-icon>
                                <button class="clearButton" *ngIf="this.filterCustomerForm.get('customerEmail').value != ''" mat-button  matPrefix mat-icon-button aria-label="Clear" (click)="this.filterCustomerForm.get('customerEmail').setValue('')">
                                    <mat-icon>close</mat-icon>
                                </button>
                                <mat-error *ngIf="this.filterCustomerForm.get('customerEmail').hasError('email')">
                                    {{MsgList.emailFormatValidationErr}}
                                  </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="formWrapRow">
                        <div>
                            <mat-form-field class="selectedFormFieldWidth">
                                <mat-label>סטטוס</mat-label>
                                <button class="clearButton" *ngIf="filterCustomerForm.get('OrderStatus').value != ''"  mat-button  matPrefix mat-icon-button aria-label="Clear" (click)="filterCustomerForm.get('OrderStatus').setValue('')">
                                    <mat-icon>close</mat-icon>
                                </button>
                                <mat-select formControlName="OrderStatus">
                                    <!-- <mat-option #closeSelect>
                                        <button mat-button (click)="resetStatusField(this); closeMatSelect()"></button>
                                    </mat-option> -->
                                    <mat-option *ngFor="let status of statusList" [value]="status.Description">
                                        {{status.Description}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="buttonsWrap actionsButton">
                    <button mat-button class="linkButton" (click)="recoverTable()">אפס</button>
                    <button mat-button class="addButton" (click)="filterTable()">חפש</button>
                    <mat-spinner *ngIf="filterSpinner" class="filterSpinner"></mat-spinner>
                </div>
                <div class="error" *ngIf="filterMsg != ''">{{filterMsg}}</div>
            </form>
        </div>
    </div>

    <!--table-->
    <div class="page-element width-block-auto">
        <div class="element-page-title">רשימת לקוחות</div>
        <div>
            <mat-form-field>
                <mat-label>סינון</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="לדוגמה: פעיל" #input>
                <mat-icon  matPrefix>filter_list</mat-icon>
            </mat-form-field>

            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort class="tableView">

                    <!-- ID Column -->
                    <ng-container *ngFor="let column of displayedColumns">
                        <ng-container matColumnDef="{{column}}" *ngIf="column != 'newOrder'" >
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{returnHebTranslation(customerLabelForTable,column)}} </th>
                            <td mat-cell *matCellDef="let row">
                                <span *ngIf="column != 'organizationName'">{{row[column]}} </span>
                                <a [routerLink]="['/public/customer',row['id']]" *ngIf="column == 'organizationName'">{{row[column] != undefined ? row[column] : row['OrganizationName']}}</a>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="{{column}}" *ngIf="column == 'newOrder'" style="width:100px">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                            <td mat-cell *matCellDef="let row">
                                <div class="flexTD">
                                    <div>
                                        <button mat-button class="addButton tableButton" [routerLink]="['/public/orderCards',0,row['id']]">הזמנה חדשה</button>
                                    </div>
                                    <div>
                                        <mat-icon class="deleteIcon" matTooltip="מחק" (click)="deleteCustomer(row)">delete</mat-icon>
                                    </div>
                                </div>
                            </td>
                        </ng-container>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">לא נמצאו נתונים</td>
                    </tr>
                </table>
                <div *ngIf="errorMsg != ''" style="color: red; text-align: center">{{errorMsg}}</div>
                <mat-paginator [pageSizeOptions]="[25, 50, 100]" class="mat-paginator-sticky"></mat-paginator>
            </div>


        </div>
    </div>
</div>