<div class="sticky">
    <div class="align-center ">
        <button mat-fab routerLink="/public/orderCards" routerLinkActive="routActive" matTooltip="הזמנה חדשה"
            matTooltipPosition="after" class="addButton important-button-margin">
            <mat-icon>post_add</mat-icon>
        </button>
    </div>
    <div class="wrap-main-menu bgColorMainMenu">
        <div *ngFor="let menu of permissionMenuList">
            <div
                [matTooltip]="menu.MenuName == 'IFrame' && workWithIframe == '0' ? 'you have no authorization to use this feature' : null">
                <a mat-button [routerLink]="['/public/', menu.MenuEngName]" routerLinkActive="routActive"
                    [class.isDisabled]="menu.MenuName == 'IFrame' && workWithIframe == '0'">{{menu.MenuName}}</a>

            </div>
            <!-- <div *ngIf="menu.MenuEngName == 'IFrame'">
                <a mat-button [routerLink]="['/public/iframe']" routerLinkActive="routActive">{{menu.MenuName}}</a>
            </div> -->
        </div>





        <!-- <div><a mat-button [routerLink]="['/public/allOrders']" routerLinkActive="routActive">הזמנות</a></div>
        <div><a mat-button [routerLink]="['/public/allCards']" routerLinkActive="routActive">תווים</a></div>
        <div><a mat-button [routerLink]="['/public/allCustomers']" routerLinkActive="routActive">לקוחות</a></div>
        <div><a mat-button [routerLink]="['/public/reports']" routerLinkActive="routActive">דוחות</a></div>
        <div><a mat-button [routerLink]="['/public/allUsers']" routerLinkActive="routActive">משתמשים</a></div>
        <div><a mat-button [routerLink]="['/public/allSMStemplates']" routerLinkActive="routActive">SMS תבנית </a></div> -->





        <!-- <div><a mat-button routerLink="/public/home" routerLinkActive="routActive">מימושים</a></div> -->
    </div>
</div>