
<div class="iframeWrap">
    <div>
        <!-- <iframe *ngIf="iframeChange" src="https://tempdomain-test-4.mltp.co.il/login?companyid=IChO_3c-ySdN0P_MD6jN3w2" ></iframe> -->
        <iframe *ngIf="iframeChange" src="https://tempdomain-test-4.mltp.co.il/login?companyid=bC1uVdEINfm7oJNltQd3PA2" ></iframe>

        <!-- <iframe src="http://localhost:57320/login?companyid=bC1uVdEINfm7oJNltQd3PA2" width="0" height="0" allowtransparency = "true"></iframe> -->
        <iframe *ngIf="!iframeChange" src="https://tempdomain-test-4.mltp.co.il/gift-card?orderid=DkUs8NIluuQ5Mqd5Byh78w2" width="0" height="0" allowtransparency = "true"></iframe>

    </div>

    <button mat-button class="primaryButton" (click)="changeIframe()">change</button>
</div>

