<div class="pageTitle main2-title sticky top100 flexView">
  <div>iFrame</div>
  <!-- toogle button -->
  <div class="example-sidenav-content">
    <!-- <div class="topMenu">
      <mat-icon *ngIf="!drawer.opened" (click)="drawer.open()" matTooltip="open side nav">menu_open</mat-icon>
      <mat-icon *ngIf="drawer.opened" (click)="drawer.close()" matTooltip="close side nav">close</mat-icon>
    </div> -->
  </div>
</div>
<mat-drawer-container class="example-container" autosize>
  <!-- side menu -->
  <mat-drawer #drawer class="example-sidenav" mode="side" opened="false">
    <div class="wrapMenu">
      <div class="wrap-main-menu">
        <div class="topMenu  marginTopMenu">
          <mat-icon *ngIf="drawer.opened" (click)="drawer.close()" matTooltip="close side nav"
            matTooltipPosition="before">close</mat-icon>
        </div>
        <div>
          <a mat-button [routerLink]="['/public/IFrame/iframeView/giftCard']" class="titleMenuButton adminPageSideNav"
            routerLinkActive="routActive">
            <span>דף פתיחה</span>
            <mat-icon>looks_one</mat-icon>
          </a>
        </div>
        <div>
          <a mat-button [routerLink]="['/public/IFrame/iframeSettings/giftCard2Page']"
            class="titleMenuButton adminPageSideNav" routerLinkActive="routActive">
            <span>נתוני שובר</span>
            <mat-icon>looks_two</mat-icon>
          </a>
        </div>
        <div>
          <a mat-button [routerLink]="['/public/IFrame/thankyouIframe/thankyou']"
            class="titleMenuButton adminPageSideNav" routerLinkActive="routActive">
            <span>דף תודה</span>
            <mat-icon>looks_3</mat-icon>
          </a>
        </div>
      </div>
    </div>
  </mat-drawer>





  <!-- content -->
  <div style="min-height: 500px;">
    <div class="page-wrap">
      <div *ngIf="!drawer.opened" class="smallSideNav">
        <div class="wrap-main-menu">
          <div class="topMenu collapsIcon">
            <mat-icon *ngIf="!drawer.opened" (click)="drawer.open()" matTooltip="open side nav"
              matTooltipPosition="before">menu_open</mat-icon>
          </div>
          <div class="iconMenu">
            <mat-icon [routerLink]="['/public/IFrame/iframeView/giftCard']" routerLinkActive=" routActive"
              matTooltip="דף פתיחה">looks_one</mat-icon>
          </div>
          <div class="iconMenu">
            <mat-icon [routerLink]="['/public/IFrame/iframeSettings/giftCard2Page']" routerLinkActive=" routActive"
              matTooltip="נתוני שובר">looks_two</mat-icon>
          </div>
          <div class="iconMenu">
            <mat-icon [routerLink]="['/public/IFrame/thankyouIframe/thankyou']" routerLinkActive=" routActive"
              matTooltip="דף תודה">looks_3</mat-icon>
          </div>
        </div>
      </div>
      <div class="page-element width100">
        <div class="wrapData formBorder">
          <router-outlet></router-outlet>
        </div>
      </div>

    </div>
  </div>


</mat-drawer-container>