.wrapCardsFilter{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.wrapExpData{
    display: flex;
    justify-content: flex-end;
}
.padd{
    padding-left: 10px;
}
.changeDate{
    text-decoration: underline;
}
.innerElement{
    margin: 1.5rem 0;
    position: relative;
}
.wrapInnerEl > div.secondChild{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    height: 100%;
}
.wrapData{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.wrapData > div{
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
}
.wrapInnerElCol{
    display: flex;
    justify-content: space-between;
    flex-direction:column;
}
.wrapInnerElCol > div.secondChild > div{
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.dataRow{
    flex-direction: row-reverse; 
}
.dataRow > div{
    margin: auto;
}

.datePicker{
    margin-bottom: auto;
}
.cardInfo{
    flex-direction: row !important;
}
.wrapInnerEl > div.secondChild > div{
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    /* text-align: center; */
}
.buttonCardFunc{
    margin: auto 0;
}
.buttonSave{
    text-align: center;
    padding: 10px;
    position: relative;
}
.buttonSave mat-spinner{
    position: absolute !important;
    top: -12px;
    right: 0;
    left: 0;
    margin: auto;
}
.formWrapRow{
    flex-wrap: wrap;
}
.formWrap > div.formWrapRow > div {
    margin: 0 6px;
}
.templateTextArea{
    width: 100%;
}
/* .detailsRow{
    text-align: center;
} */
.customer-info-element{
    flex-grow: 1;
}
.element-page-title2{
    position: absolute;
    top: -30px;
    right: 0;

}
textarea{
    min-height: 8em;
    padding: 10px !important;
    border: 1px solid #DDE0E0;
    border-radius: 10px;
    background: #fff;
}
.spinnerActiveVoidCard{
    position: absolute;
    top: -1.3em;
    right: 1em;
}
.wrapActiveVoidButton{
    position: relative;
}