<div class="pageTitle main2-title">
    <div>רשימת קבצי אקסל אשר נטענו להזמנות דיגיטליות</div>
</div>

<div class="page-wrap">
        <!-- table -->
        <div class="page-element width-block-auto">
            <div class="wrapTables">
                <div>
                    <div class="element-page-title">רשימת קבצים דיגיטלים</div>
                    <app-table
                             [dataLabelsList]="excelFilesLabelForTable"
                             [data_Source]="excelFilesDataSource"
                             [linksList]="linksList"
                    ></app-table>
                </div>
            </div>
        </div>
</div>
