mat-panel-description{
    direction: rtl;
}
mat-accordion mat-expansion-panel mat-expansion-panel-header .mat-icon{
    width: unset !important;
    font-size: 45px;
    height: 45px !important;
  }
  .wrapData{
      display: flex;
      justify-content: space-between;
      flex-direction: column-reverse;
  }
  .wrapData > div.buttonAny{
    flex-grow: 1;
    width: 130px;
    margin: 0 auto;
    flex-direction: column;
  }
  .example-action-buttons{
    background: #EEF0F2;
    border-radius: 4px;
  }
  .actionWrapB{
    text-align: center;
  }
  .cards-wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row-reverse;
  }
  .cards-wrap > div{
    flex-grow: 2;
    margin: 0 6px;
    width: 49%;
  }

  mat-form-field{
      width: 100%;
  }

  .mat-card-sms{
    display: flex;
    justify-content: space-between;
  }
  .mat-card-sms > mat-form-field{
    width: auto;
  }
  .card-wrap-new{
    display: flex;
    flex-direction: row-reverse;
  }
  .card-wrap-new > div{
    flex-basis: 0;
    flex-grow: 1;
    margin: 0 6px;
  }
  .card-wrap-new mat-card{
    box-shadow: unset;
  }

  .innerElement{
    margin: 10px auto;
  }
  mat-icon{
      margin-left: 5px;
  }
  .edit-buttons-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .edit-buttons-wrap > button{
    margin: 7px;
    width: 30%;
  }
  .save-edit-button{
    text-align: CENTER;
    border-top: 1px solid #f0f0f0;
    padding: 10px;
  }
  .save-edit-button > button{
    margin: 0 10px;
  }
  textarea{
    min-height: 8em;
    padding: 10px !important;
    border: 1px solid #DDE0E0;
    border-radius: 10px;
    background: #fff;
  }
  .mat-card-header {
    direction: rtl;
    flex-direction: column !important;
}
mat-card-title{
  display: flex;
  /* display: table !important; 
  width: 100%; */
}
mat-card-title > div{
  /* display: table-cell;  */
}
.newSMSActionButtons{
  display: flex;
  flex-direction: row-reverse;
  margin: 0;
}
.newSMSActionButtons > div{
  margin-left: 10px;
}
.mat-card>.mat-card-actions{
  text-align: right;
}
  @media screen and (max-width: 1024px){
    .edit-buttons-wrap > button{
      width: 29%;
    }
    .edit-buttons-wrap > button{
      margin: 5px;
    }
    .flexData {
      flex-direction: row-reverse;
    }
    .cards-wrap, .card-wrap-new{
      flex-direction: column;
    }
    .cards-wrap > div, .card-wrap-new > div{
      width: 100%;
    }
    .cards-wrap > div, .card-wrap-new > div{
      margin: 0;
    }

  }

