<div class="pageTitle main2-title">
    <div *ngIf="userData">
        {{userData.FullName}}
    </div>
    <div *ngIf="!userData">
        משתמש חדש
    </div>
    <div *ngIf="userData">
        <a routerLink="/public/newUser">
            <button mat-raised-button class="titleMenuButton">משתמש חדש
                <mat-icon>person_add_alt_1</mat-icon>
            </button>
        </a>
    </div>
</div>
<div class="page-wrap">
    <div class="page-element width-block-auto">
        <div class="wrapData formBorder">
            <div class="fixed-column-buttons">
                <button mat-button class="linkButton" (click)="accordion.closeAll()">
                    <span>צמצם הכל</span>
                    <mat-icon>compress</mat-icon>
                </button>
                <button mat-button class="linkButton" (click)="accordion.openAll()">
                    <span>הרחב הכל</span>
                    <mat-icon>expand</mat-icon>
                </button>
                <button mat-button class="addButton" (click)="saveData()">
                    <span>שמור</span>
                    <mat-icon>save</mat-icon>
                </button>
            </div>

            <!-- user data -->
            <div>
                <form [formGroup]="userDataForm">
                    <mat-accordion class="example-headers-align" multi>

                        <!-- User -->
                        <mat-expansion-panel [expanded]="true" #newUser>
                            <mat-expansion-panel-header>
                                <mat-panel-title></mat-panel-title>
                                <mat-panel-description>
                                    <div>
                                        <mat-icon *ngIf="!newUser.expanded" class="absoluteIcon">arrow_circle_down
                                        </mat-icon>
                                    </div>
                                    <div>
                                        <mat-icon *ngIf="newUser.expanded" class="absoluteIcon">arrow_circle_up
                                        </mat-icon>
                                    </div>
                                    <div class="titleDesc">
                                        פרטי משתמש
                                    </div>
                                </mat-panel-description>
                            </mat-expansion-panel-header
                            >
                            <div class="wrapFormElement">
                                <div class="wrapFlexTwoCol">
                                    <div class="formWrapColumn">
                                        <mat-form-field>
                                            <mat-label>שם</mat-label>
                                            <input matInput placeholder="שם*" formControlName="FName">
                                        </mat-form-field>
                                        <mat-form-field class="selectedFormFieldWidth">
                                            <mat-label>סטטוס</mat-label>
                                            <mat-select multiple formControlName="status">
                                                <mat-option *ngFor="let status of statusList" [value]="status.value">
                                                    {{status.viewValue}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="formWrapColumn">
                                        <mat-form-field>
                                            <mat-label>שם משפחה</mat-label>
                                            <input matInput placeholder="שם משפחה" formControlName="LName">
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>מספר משתמש של המערכת</mat-label>
                                            <input matInput placeholder="מספר משתמש של המערכת" formControlName="UserType">
                                        </mat-form-field>
                                    </div>
                                    <div class="formWrapColumn">
                                        <mat-form-field>
                                            <mat-label>ח.פ</mat-label>
                                            <input matInput placeholder='ח.פ' formControlName="Tz">
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>מספר עובד</mat-label>
                                            <input matInput placeholder="מספר עובד" formControlName="Id">
                                        </mat-form-field>
                                    </div>
                                    <div class="formWrapColumn">
                                        <mat-form-field>
                                            <mat-label>דוא"ל</mat-label>
                                            <input matInput placeholder='דוא"ל' formControlName="Email">
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>סיסמה*</mat-label>
                                            <input matInput placeholder="סיסמה*" formControlName="Password">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </mat-expansion-panel>


                        <!-- additional Data -->
                        <mat-expansion-panel #commercialData>
                            <mat-expansion-panel-header>
                                <mat-panel-title> </mat-panel-title>
                                <mat-panel-description>
                                    <mat-icon *ngIf="!commercialData.expanded" class="absoluteIcon">arrow_circle_down
                                    </mat-icon>
                                    <mat-icon *ngIf="commercialData.expanded" class="absoluteIcon">arrow_circle_up
                                    </mat-icon>
                                    <div class="titleDesc">
                                        פרטים נוספים
                                    </div>
                                </mat-panel-description>
                            </mat-expansion-panel-header>

                            <div class="wrapFormElement">
                                <div class="wrapFlexTwoCol">
                                    <div class="formWrapColumn">
                                        <mat-form-field>
                                            <mat-label>מספר טלפון</mat-label>
                                            <input matInput placeholder="מספר טלפון" formControlName="Phone">
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>עיר</mat-label>
                                            <input matInput placeholder="עיר" formControlName="CityName">
                                        </mat-form-field>
                                    </div>
                                    <div class="formWrapColumn">
                                        <mat-form-field>
                                            <mat-label>מספר טלפון נוסף</mat-label>
                                            <input matInput placeholder="מספר טלפון נוסף" formControlName="Phone1">
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>רחוב</mat-label>
                                            <input matInput placeholder="רחוב" formControlName="Streetno">
                                        </mat-form-field>
                                    </div>
                                    <div class="formWrapColumn">
                                        <mat-form-field class="selectedFormFieldWidth">
                                            <mat-label>סוג משתמש</mat-label>
                                            <mat-select multiple formControlName="Role">
                                                <mat-option *ngFor="let status of userStat" [value]="status.value">
                                                    {{status.viewValue}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>מיקוד</mat-label>
                                            <input matInput placeholder="מיקוד" formControlName="ZIP">
                                        </mat-form-field>
                                    </div>
                                    <div class="formWrapColumn">
                                        <mat-form-field>
                                            <mat-label>הרשאות</mat-label>
                                            <input matInput placeholder="הרשאות" formControlName="Permission">
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>מספר בית</mat-label>
                                            <input matInput placeholder="מספר בית" formControlName="ApartmentNo">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="wrapButtons">
                                    <div class="buttonAny">
                                        <div class="infoLabel">
                                            <div class="textAlignCenter">
                                                <span>תמונה ללקוח (ידרוס את הקיים)</span>
                                            </div>
                                            <div class="margin0">
                                                <mat-icon>info</mat-icon>
                                            </div>
                                        </div>
                                        <input [hidden]="true" name="uploadDoc" #uploadDoc type="file">
                                        <button  mat-button class="addButton" (click)="uploadDoc.click()">
                                            <span>בחירת קובץ</span>
                                            <mat-icon>attach_file</mat-icon>
                                        </button>
                                        <span *ngIf="uploadDoc.value">{{uploadDoc.value}}</span>
                                    </div>
                                </div>
                            </div>

                            <!-- <mat-datepicker #picker></mat-datepicker> -->
                        </mat-expansion-panel>
                    </mat-accordion>
                </form>
            </div>
        </div>
    </div>

</div>