<div class="pageTitle main2-title sticky top100">
    <div *ngIf="userData">
        {{userData.FullName}}
    </div>
    <div *ngIf="!userData">
        משתמש חדש
    </div>
    <div *ngIf="userData">
        <a routerLink="/public/newUser">
            <button mat-raised-button class="titleMenuButton">משתמש חדש
                <mat-icon>person_add_alt_1</mat-icon>
            </button>
        </a>
    </div>
</div>
<div class="page-wrap">
    <div class="page-element width-block-auto">
        <form [formGroup]="userDataForm" (submit)="saveData()">
            <div class="wrapData formBorder">

                <div class="fixed-column-buttons">
                    <div class="wrapStickyButtons">
                        <div>
                            <a mat-button class="linkButton" (click)="accordion.closeAll()">
                                <span>צמצם הכל</span>
                                <mat-icon>compress</mat-icon>
                            </a>
                        </div>
                        <div>
                            <a mat-button class="linkButton" (click)="accordion.openAll()">
                                <span>הרחב הכל</span>
                                <mat-icon>expand</mat-icon>
                            </a>
                        </div>
                        <div class="wrapAB">
                            <button mat-button class="addButton">
                                <span>שמור</span>
                                <mat-icon>save</mat-icon>
                            </button>
                            <mat-spinner *ngIf="saveFormSpinner" class="saveFormSpinner"></mat-spinner>
                        </div>
                    </div>
                    <div class="error" *ngIf="errorActionButtons != ''">{{errorActionButtons}}</div>
                    <div class="saveMessage" *ngIf="msgActionButtons != ''">{{msgActionButtons}}</div>
                </div>

                <!-- user data -->
                <mat-accordion class="example-headers-align" multi>

                    <!-- User -->
                    <mat-expansion-panel [expanded]="true" #newUser>
                        <mat-expansion-panel-header>
                            <mat-panel-title></mat-panel-title>
                            <mat-panel-description>
                                <div>
                                    <mat-icon *ngIf="!newUser.expanded" class="absoluteIcon">arrow_circle_down
                                    </mat-icon>
                                </div>
                                <div>
                                    <mat-icon *ngIf="newUser.expanded" class="absoluteIcon">arrow_circle_up
                                    </mat-icon>
                                </div>
                                <div class="titleDesc">
                                    פרטי משתמש
                                </div>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="wrapFormElement">
                            <div class="wrapFlexTwoCol">
                                <div class="formWrapColumn">
                                    <mat-form-field>
                                        <mat-label>שם*</mat-label>
                                        <input matInput placeholder="שם*" formControlName="FName" tabindex="1"
                                            pattern="^([^0-9]*)$">
                                        <button class="clearButton" *ngIf="userDataForm.get('FName').value != ''"
                                            mat-button matPrefix mat-icon-button aria-label="Clear"
                                            (click)="userDataForm.get('FName').setValue('')">
                                            <mat-icon>close</mat-icon>
                                        </button>
                                        <mat-error *ngIf="userDataForm.get('FName').errors?.pattern">
                                            {{MsgList.lettersValidationErr}}
                                            <mat-icon>error</mat-icon>
                                        </mat-error>
                                        <mat-error
                                            *ngIf="userDataForm.get('FName').errors?.required || userDataForm.get('FName').errors?.whitespace">
                                            {{MsgList.requiredField}}
                                            <mat-icon>error</mat-icon>
                                        </mat-error>
                                    </mat-form-field>
                                    <!-- <mat-form-field class="selectedFormFieldWidth">
                                        <mat-label>סטטוס*</mat-label>
                                        <input matInput formControlName="StatusId" tabindex="4" >
                                    </mat-form-field> -->
                                    <mat-form-field class="formWrapColumn selectedFormFieldWidth">
                                        <mat-label>סטטוס</mat-label>
                                        <mat-select formControlName="StatusId" tabindex="4">
                                            <mat-option *ngFor="let status of statusList" [value]="status.StatusId">
                                                {{status.Description}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="formWrapColumn">
                                    <mat-form-field>
                                        <mat-label>שם משפחה*</mat-label>
                                        <input matInput placeholder="שם משפחה*" formControlName="LName" tabindex="2"
                                            pattern="^([^0-9]*)$">
                                        <button class="clearButton" *ngIf="userDataForm.get('LName').value != ''"
                                            mat-button matPrefix mat-icon-button aria-label="Clear"
                                            (click)="userDataForm.get('LName').setValue('')">
                                            <mat-icon>close</mat-icon>
                                        </button>
                                        <mat-error *ngIf="userDataForm.get('LName').errors?.pattern">
                                            {{MsgList.lettersValidationErr}}
                                            <mat-icon>error</mat-icon>
                                        </mat-error>
                                        <mat-error
                                            *ngIf="userDataForm.get('LName').errors?.required || userDataForm.get('LName').errors?.whitespace">
                                            {{MsgList.requiredField}}
                                            <mat-icon>error</mat-icon>
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field>
                                        <mat-label>מספר טלפון*</mat-label>
                                        <input matInput placeholder="מספר טלפון" formControlName="Phone" tabindex="5"
                                            [attr.maxlength]="10" numbersOnly>
                                        <button class="clearButton" *ngIf="userDataForm.get('Phone').value != ''"
                                            mat-button matPrefix mat-icon-button aria-label="Clear"
                                            (click)="userDataForm.get('Phone').setValue('')">
                                            <mat-icon>close</mat-icon>
                                        </button>
                                        <mat-error *ngIf="userDataForm.get('Phone').errors?.pattern">
                                            {{MsgList.phonePatternErr}}
                                            <mat-icon>error</mat-icon>
                                        </mat-error>
                                        <mat-error *ngIf="userDataForm.get('Phone').errors?.required">
                                            {{MsgList.requiredField}}
                                            <mat-icon>error</mat-icon>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="formWrapColumn">
                                    <mat-form-field>
                                        <mat-label>דוא"ל*</mat-label>
                                        <input matInput placeholder='דוא"ל*' formControlName="Email" tabindex="3">
                                        <button class="clearButton" *ngIf="userDataForm.get('Email').value != ''"
                                            mat-button matPrefix mat-icon-button aria-label="Clear"
                                            (click)="userDataForm.get('Email').setValue('')">
                                            <mat-icon>close</mat-icon>
                                        </button>
                                        <mat-error *ngIf="userDataForm.get('Email').hasError('email')">
                                            {{MsgList.emailFormatValidationErr}}
                                            <mat-icon>error</mat-icon>
                                        </mat-error>
                                        <mat-error *ngIf="userDataForm.get('Email').hasError('required')">
                                            {{MsgList.requiredField}}
                                            <mat-icon>error</mat-icon>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>


                    <!-- additional Data -->
                    <mat-expansion-panel #commercialData>
                        <mat-expansion-panel-header>
                            <mat-panel-title> </mat-panel-title>
                            <mat-panel-description>
                                <mat-icon *ngIf="!commercialData.expanded" class="absoluteIcon">arrow_circle_down
                                </mat-icon>
                                <mat-icon *ngIf="commercialData.expanded" class="absoluteIcon">arrow_circle_up
                                </mat-icon>
                                <div class="titleDesc">
                                    פרטים נוספים
                                </div>
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <div class="wrapFormElement">
                            <div class="wrapFlexTwoCol">
                                <div class="formWrapColumn">
                                    <mat-form-field>
                                        <mat-label>עיר</mat-label>
                                        <input matInput placeholder="עיר" formControlName="CityName" tabindex="6"
                                            pattern="^([^0-9]*)$">
                                        <button class="clearButton" *ngIf="userDataForm.get('CityName').value != ''"
                                            mat-button matPrefix mat-icon-button aria-label="Clear"
                                            (click)="userDataForm.get('CityName').setValue('')">
                                            <mat-icon>close</mat-icon>
                                        </button>
                                        <mat-error *ngIf="userDataForm.get('CityName').errors?.pattern">
                                            {{MsgList.lettersValidationErr}}
                                            <mat-icon>error</mat-icon>
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field>
                                        <mat-label>הרשאות*</mat-label>
                                        <!-- <input matInput placeholder="הרשאות*" formControlName="Permission"> -->
                                        <mat-select formControlName="Permission" tabindex="4">
                                            <mat-option *ngFor="let role of roleList" [value]="role.Id">
                                                {{role.RoleDesc}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="formWrapColumn">
                                    <mat-form-field>
                                        <mat-label>רחוב</mat-label>
                                        <input matInput placeholder="רחוב" formControlName="Streetno" tabindex="7"
                                            pattern="^([^0-9]*)$">
                                        <button class="clearButton" *ngIf="userDataForm.get('Streetno').value != ''"
                                            mat-button matPrefix mat-icon-button aria-label="Clear"
                                            (click)="userDataForm.get('Streetno').setValue('')">
                                            <mat-icon>close</mat-icon>
                                        </button>
                                        <mat-error *ngIf="userDataForm.get('Streetno').errors?.pattern">
                                            {{MsgList.lettersValidationErr}}
                                            <mat-icon>error</mat-icon>
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field>
                                        <mat-label>מספר טלפון נוסף</mat-label>
                                        <input matInput placeholder="מספר טלפון נוסף" formControlName="Phone1"
                                            tabindex="10" [attr.maxlength]="10" numbersOnly>
                                        <button class="clearButton" *ngIf="userDataForm.get('Phone1').value != ''"
                                            mat-button matPrefix mat-icon-button aria-label="Clear"
                                            (click)="userDataForm.get('Phone1').setValue('')">
                                            <mat-icon>close</mat-icon>
                                        </button>
                                        <mat-error *ngIf="userDataForm.get('Phone1').errors?.pattern">
                                            {{MsgList.phonePatternErr}}
                                            <mat-icon>error</mat-icon>
                                        </mat-error>
                                    </mat-form-field>

                                </div>
                                <div class="formWrapColumn">
                                    <mat-form-field>
                                        <mat-label>מספר בית</mat-label>
                                        <input matInput placeholder="מספר בית" formControlName="ApartmentNo"
                                            tabindex="8" numbersOnly>
                                        <button class="clearButton" *ngIf="userDataForm.get('ApartmentNo').value != ''"
                                            mat-button matPrefix mat-icon-button aria-label="Clear"
                                            (click)="userDataForm.get('ApartmentNo').setValue('')">
                                            <mat-icon>close</mat-icon>
                                        </button>
                                    </mat-form-field>
                                    <mat-form-field>
                                        <mat-label>מיקוד</mat-label>
                                        <input matInput placeholder="מיקוד" formControlName="ZIP" tabindex="11"
                                            numbersOnly>
                                        <button class="clearButton" *ngIf="userDataForm.get('ZIP').value != ''"
                                            mat-button matPrefix mat-icon-button aria-label="Clear"
                                            (click)="userDataForm.get('ZIP').setValue('')">
                                            <mat-icon>close</mat-icon>
                                        </button>
                                    </mat-form-field>
                                </div>
                            </div>
                            <!-- <div class="wrapButtons">
                                    <div class="buttonAny">
                                        <div class="infoLabel">
                                            <div class="textAlignCenter">
                                                <span>תמונה ללקוח (ידרוס את הקיים)</span>
                                            </div>
                                            <div class="margin0">
                                                <mat-icon>info</mat-icon>
                                            </div>
                                        </div>
                                        <input [hidden]="true" name="uploadDoc" #uploadDoc type="file">
                                        <button  mat-button class="addButton" (click)="uploadDoc.click()">
                                            <span>בחירת קובץ</span>
                                            <mat-icon>attach_file</mat-icon>
                                        </button>
                                        <span *ngIf="uploadDoc.value">{{uploadDoc.value}}</span>
                                    </div>
                                </div> -->
                        </div>

                        <!-- <mat-datepicker #picker></mat-datepicker> -->
                    </mat-expansion-panel>
                </mat-accordion>

            </div>
        </form>
        <div class="delCustButtonWrap">
            <button mat-button class="deleteButton" (click)="deleteUser()">מחק לקוח
                <mat-icon>delete</mat-icon>
                <mat-spinner class="spinner" *ngIf="deleteUserSpinner"></mat-spinner>
            </button>
        </div>
    </div>
</div>