/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

@font-face {
  font-family: Assistant;
  src: url(assets/fonts/Assistant-VariableFont_wght.ttf);
}

.mat-step-header,
.mat-option-text {
  font-family: Assistant !important;
}

.underInputInfo {
  width: 100%;
  direction: rtl;
  text-align: right;
  display: flex;
  font-size: 1.1em;
  margin-top: 0.5em;
}

.not-active {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: black;
}

.logInForm mat-label.ng-star-inserted {

  background: transparent !important;
}



.policyType mat-label.ng-star-inserted,
.supplierBlock mat-label.ng-star-inserted {
  background: #fff !important;
  /* padding-right: 5px !important; */
}

.textCenter {
  text-align: center !important;
}

.pageTitle>div:not(:first-child)>button {
  display: flex;
  margin: 5px 0;
}

.pageTitle>div>div {
  display: flex;
  /* justify-content: space-between; */
  flex-direction: row-reverse;
  padding: 3px 0;
}

.mat-form-field-infix {
  display: flex !important;
  /* if have to change this row, please check the view of coments in cardInfo*/
}

.subTitle {
  margin-left: 10px;
  font-size: 1.3rem;
  color: #3c3f428a;
  direction: rtl;
}

.wrapPage {
  margin: 15px;
}

button:hover {
  cursor: pointer;
}

.wrapMain-Menu-View {
  display: flex;
  justify-content: space-between;
  min-height: calc(100% - 110px);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Assistant';
}

.bgColorMainMenu {
  background: #686866;
}

table {
  width: 100%;
}

.nextLevelButton {
  width: 100%;
}

.matIconSVGWrap {
  width: auto;
  height: 100% !important;
}

.matIconSVGWrap svg {
  margin: auto;
}

app-main-menu {
  background: #686866;
}

.app-main-view {
  flex-grow: 1;
  background: #eef0f2;
  margin-top: 100px;
  display: flex;
}

.page-wrap {
  /* background: #eef0f2; */
  min-height: calc(100vh - 110px);
  margin: 0 10px;
  /* display: flex;
  flex-direction: row-reverse; */
}

.headerWrap {
  /* position: sticky;
  top: 0;*/
  /* z-index: 9999;   */
  position: fixed;
}

.headerData {
  display: flex;
}

.headerData>div.data {
  margin: 0 10px;
}

.headerPage {
  width: 100%;
  text-align: center;
  padding: 2rem;
}

.main-title {
  font-size: 3rem;
  color: #686866;
  font-weight: bold;
}

.main2-title {
  border-top: 0.15em solid #8FC636;
  color: #686866;
  font-size: 1.2rem;
  text-align: right;
  padding: 0px 30px;
  font-weight: bold;
  margin-bottom: 0 rem;
  box-shadow: 0px 5px 20px rgb(0 0 0 / 20%);
  background: #fff;
  display: flex;
  justify-content: end;
  flex-direction: row-reverse
}

.main2-title button {
  margin: 3px 0;
}

.main2-title>div {
  margin: auto 5px;
}

.main2-title>div>div {
  line-height: 1em;
}

.sub-title {
  color: #BFBFBF;
}

.elementTitle {
  text-align: center;
  font-size: 1.5rem;
}

.main-page-element {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.element-page-title {
  /* position: relative;
  top: -42px; */
  color: #8FC636;
  font-weight: 600;
  padding: 0px 0px 10px;
  font-size: larger;
  direction: rtl;
}

.textAlignCenter {
  text-align: center;
}

.textAlignRight {
  direction: rtl;
  text-align: right !important;
}

.page-element-margin0 {
  margin: 0rem 6px !important;
}

.margin0 {
  margin: 0 !important;
}

.page-element {
  width: 49%;
  margin: 1rem 6px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .29);
  border-radius: 4px;
  margin-bottom: 5px;
  text-align: right;
  background: #FFFFFF;
  padding: 10px;
}

.width-block {
  width: 100%;
}

.width-block-auto {
  width: auto;
}

.flex-element {
  display: flex;
  justify-content: space-between;
}

.flex-element-child {
  flex-grow: 1;
  padding: 20px;
}

.top-19 {
  top: -19px;
}

.customer-flex {
  display: flex;
  width: fit-content;
  margin-left: auto;
  flex-wrap: wrap;
}

.customer-flex>div {
  flex-grow: 1;
  width: calc(100% / 3);
}

.customer-info-element {
  margin: 10px 0;
}

.customerDataTitle {
  color: #8989a4;
}

div.formElement>div.formWrap mat-form-field {
  width: 100%;
}

mat-form-field {
  text-align: right !important;
}

.mat-form-field-hint-wrapper {
  flex-direction: row-reverse;
}

.alertMessage {
  margin: 10px 0;
}

.success {
  color: #757590;
}

.mat-form-field-hint-wrapper {
  flex-direction: column;
}

.errorColor {
  color: red;
}

.error {
  color: red !important;
  text-align: center;
  padding: 10px;
}

.matError {
  position: absolute;
  right: 0;
  direction: rtl;
  padding-top: 10px;
  font-weight: 100;
  color: red;
}

.error2 {
  color: red !important;
  margin-top: -2px;
}

.alignRight {
  text-align: right !important;
}

.marginRight {
  margin-right: 0 !important
}

.settingsMenu mat-icon {
  margin-right: 0 !important;
  margin-left: 16px !important;
}

.wrap-fab-button {
  margin: 1em auto;
}

.purpleBorderButton {

  border: 1px solid #59576C !important;
  color: #59576C !important;
  margin: 5px auto !important;
  width: 92%;

}

.purpleBorderButton:hover {
  background: #59576C;
  color: #fff !important;
}

.primary-button {
  background: #267491;
  color: #fff;
}

.primaryButton {
  background: #88C43E;
  background-color: #88C43E !important;
  color: #fff;
}

.primaryButton:hover {
  background: #56910e;
  background-color: #56910e !important;
  color: #fff;
}

.deleteButton {
  background: #f2806b;
  color: #fff;
}

.deleteButton:hover {
  background: #f56c53;
}

.deleteIcon {
  color: #f4a293;
  cursor: pointer;
}

.errorBG {
  color: #f4a293;
  /* font-size: 1.2em !important; */
}

.deleteIcon:hover {
  cursor: pointer;
  color: #f2806b;
}

.updateIcon {
  color: rgba(0, 0, 0, 0.54);
  cursor: pointer;
}

.updateIcon:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.54);
}

.addButton {
  background: #88C43E !important;
  color: #fff !important;
  border: 1px solid #88C43E !important;
}

.addButton:hover {
  background: #36362f;
  color: #fff;
}

.sendButton {
  /* background: #267491; */
  background: #36362f;
  color: #fff;
}

.sendButton:hover {
  background: #88C43E;
  color: #fff;
}

.innerElement {
  /* margin: 0 !important  order/id mobile problem*/
}

button:hover,
a:hover {
  cursor: pointer;
}

.cursor:hover {
  cursor: pointer;
}

button.titleMenuButton {
  /* background: #51768D; */
  background: #444445;
  /* text-shadow: 0px 0px 2px rgb(88 143 101); */
  color: #fff;
}

.log-in .title {
  text-align: right;
  word-wrap: break-word;
}

button.titleMenuButton:hover {
  background: #89BE34;
  cursor: pointer;
}

span.tableButton:hover {
  background: #89BE34;
  cursor: pointer;
}

.fixed-column-buttons {
  position: sticky;
  z-index: 999;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  margin-top: 30px;
}

.fixed-column-buttons button,
.fixed-column-buttons a {
  margin: 10px;
}

div.wrapStickyButtons>div>a:hover {
  color: #fff;
  background: #88C43E;
  text-decoration: unset;
}

.wrapStickyButtons {
  justify-content: center;
  display: flex;
  flex-direction: row;
}


.linkButton {
  background: #fff;
  color: #8FC636;
  border: 1px solid #8FC636 !important;
}

.linkButton:hover {
  /* border: 1px solid #EDEDED !important;
  background: #EDEDED; */
  background: #8FC636;
  color: #fff;
}

.margin {
  margin: auto auto auto 0 !important;
}

.linkButton:hover .icon-svg {
  fill: white !important;
}

.icon-svg {
  fill: #8FC636;
  height: 100%;
  margin: auto;
}

.mat-header-cell {
  font-weight: 700;
}

.tableInsideElement {
  table-layout: fixed;
}

form div.mat-form-field-infix {
  width: 100%;
}

table.dialogData tr th {
  background: #EFEFED !important;
  color: #686866 !important;
  text-align: center !important;
  /* font-size: 0.43em; */
  padding: 0 7px;
}

table.dialogData tr th>div {
  text-align: center;
  /* font-size: 1em !important; */
}

table.tableView tr th {
  background: #EFEFED !important;
  color: #686866 !important;
  font-size: 0.9em !important;
  text-align: center !important;
  padding: 0 7px;
}







.tableWrapWithScroll {
  max-height: 400px;
  max-width: 100%;
  overflow: auto;
}

table.dialogData tr th {}



.tableWrap {
  /* max-height: 300px;
  max-width: 100%;
  overflow: auto; */
}

.tableWrapWithScroll table tbody tr:last-child {
  position: sticky;
  bottom: 0;
}

table.tableView tr th>div {
  justify-content: center;
}

table.tableInsideElement tr>th:first-child,
table.tableInsideElement tr>td:first-child {
  padding-right: 0px !important;
}

table.tableInsideElement tr>th:last-child,
table.tableInsideElement tr>td:last-child {
  padding-left: 0px !important;
}

table.tableInsideElement tr th,
tr td {
  text-align: center !important;
}

table.tableInsideElement tr td .last-row {
  padding: 0 5px;
}

.addToExecOrderForm {
  display: flex;
  flex-direction: row-reverse;
  margin: 20px 0 0;
}

.addToExecOrderForm>div {}

form.addToExecOrderForm>table>tbody>tr>td {
  padding: 5px;
}

table.digitalFilesTable td {
  padding: 10px;
}

.not100width {
  width: auto;
}

.mat-form-field-flex {
  direction: ltr;
}

.wrapAB {
  position: relative;
}

.wrapAB>mat-spinner {
  position: absolute;
  top: -15px;
}

.spinnerWrap {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  z-index: 9999;
  height: 100%;
  position: absolute;
}

.datePickerPadding div.mat-form-field-flex {
  padding: 0;
  background: transparent;
  color: #8FC636;
}

.inputIncludeValue {
  position: relative;
}

.inputValue {
  position: absolute;
  right: 0;
}

.footer {
  height: 50px;
  background: #686866;
  display: flex;
}

.footer>div {
  width: fit-content;
  color: #fff;
  margin: auto;
}

.flexPrePostFix {
  display: flex;
  flex-direction: row-reverse;

}

.relative {
  position: relative;
}

.checkBoxUnderInput {
  position: absolute;
  bottom: -35px;
  right: -20px;
  z-index: 99;
}

.excelIconButton {
  color: #88C43E;
  width: unset !important;
  height: unset !important;
  margin: 15px 0 !important;
}

.excelIconButton span.mat-button-wrapper {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}

.excelIconButton img {
  width: 32px;
  height: 32px;
  content: url('assets/img/excel-icon.svg');
  filter: invert(73%) sepia(8%) saturate(3478%) hue-rotate(44deg) brightness(102%) contrast(73%);
  margin: auto;
}

.excelIconButton:hover {
  cursor: pointer;
}

.excelIconButton:hover img {
  width: 32px;
  height: 32px;
  content: url(assets/img/excel-hover-icon.svg);
  filter: unset;
  cursor: pointer;
}


.marginTop-1 {
  margin-top: -0.5%;
}

.bgTransparent {
  background: transparent;
}

.innerElement {
  margin: 3rem 0;
  background: #F7F7F7;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.1);
  border: 1px solid #DDE0E0;
}

dialog-content-example-dialog div.innerElement {
  margin: 0;
}

.flexElement {
  display: flex;
  justify-content: space-between;
}

.totalDataFlex {
  display: flex;
  flex-direction: column;
}

.totalDataFlex>div {
  margin: 0.1rem 0;
}

.dataBolder {
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  /* color: #818384; */
}

.flexButtonsElement {
  display: flex;
  flex-direction: column-reverse;
}

.flexButtonsElement>div {
  margin: 5px;
}

.flexButtonsElement>div button {
  width: -webkit-fill-available;
}

.flexData {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
}

.flexData>div>div {
  margin: 5px 0;
}

.elementTitleBolder {
  font-weight: bolder;
  color: #686866;
}

.tableButton {
  color: #fff;
  padding: 7px;
  border-radius: 4px;
  /* width: 105px; */
  width: 100%;
}

.tableOrderStatusClose {
  display: flex;
  color: #88C43E;
  box-shadow: 0px 0px 3px #88C43E;
  padding: 5px;
  /* color:#fff; */
}

.tableOrderStatusPending {
  padding: 5px;
  display: flex;
  color: yellow;
  font-weight: bold;
  box-shadow: 0px 0px 3px yellow;
}

.tableEmptyMsg {
  text-align: center;
  margin: 1em auto;
}

.tableCageFlex {
  display: flex;
  width: 100%;
  justify-content: center;
}

.tableCageFlex>div.iconB {
  /* margin-left: auto; */
}

.tableCageFlex>div.textB {
  margin: auto;
}

.tableOrderStatusClose>div,
.tableOrderStatusOpen>div,
.tableOrderStatusFour>div,
.tableOrderStatusFiftin>div {
  padding-right: 5px;
  margin: auto 0;
}

.tableOrderStatusOpen {
  padding: 5px;
  display: flex;
  color: #7F7F7F !important;
  font-weight: bold;
  box-shadow: 0px 0px 2px #7F7F7F;
  /* color:#fff; */
}

.tableOrderStatusWaiting {
  padding: 5px;
  display: flex;
  color: #F7B32B !important;
  box-shadow: 0px 0px 3px #F7B32B;
  /* color:#fff; */
}

.tableOrderStatusFour {
  padding: 5px;
  display: flex;
  color: #88C43E !important;
  box-shadow: 0px 0px 2px #88C43E;
  /* color:#fff; */
}

.tableOrderStatusFiftin {
  padding: 5px;
  display: flex;
  background: transparent;
  color: #FF6347 !important;
  font-weight: bold;
  box-shadow: 0px 0px 2px #FF6347;
}

.radioButton label.mat-radio-label span.mat-radio-label-content {
  margin: 0 15px;
}

.align-center {
  text-align: center;
}

.formBorder {
  border: 1px solid #DDE0E0;
  padding: 15px 15px 0;
  border-radius: 10px;
}

.width100 {
  width: 100%;
}

.mat-select {
  /*.mat-form-field.datePicker*/
  direction: rtl;
}

.mat-option {
  text-align: right !important;
}

button.addOptionFromDropDown {
  width: 100%;
}


.formWrapRow mat-form-field.datePickerPadding div.mat-form-field-wrapper {
  /* margin-left: 83px; */
}

.svg-inline--fa.fa-w-12 {
  color: #fff !important;
}

.selectedFormFieldWidth {
  width: 180px !important;
}

.mat-primary .mat-pseudo-checkbox-checked,
.mat-primary .mat-pseudo-checkbox-indeterminate {
  background: #8FC636;
}

.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
  color: #F2806B;
}

mat-form-field mat-icon,
mat-card mat-icon {
  color: #b9dc81;
}

.wrapFlexTwoCol {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0 0;
  flex-direction: row-reverse;
}

.wrapFlexTwoCol>div.formWrapColumn {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  flex-direction: column;
  margin: 0 4rem;
}

.formWrapColumn>div.buttonAny {
  display: flex;
  flex-direction: column;
}

.formWrapColumn>div.buttonAny>button {
  width: 130px;
  margin-left: auto;
}

.space-around {
  justify-content: space-around;
}

.additionalCol {
  width: 100px;
}

button.additionalColButton {
  margin: 0 5px;
}

.titleDesc {
  padding-top: 10px;
  padding-right: 10px;
}

.mat-dialog-title {
  text-align: right;
}

.mat-dialog-container {
  overflow: unset !important;
  max-width: 600px;
}

.mat-error {
  font-size: 12px;
}

.mat-error.formError {
  color: #f44336;
  text-align: center;
  font-size: 1.2em !important;
  font-weight: 700;
}

svg {
  font-size: 24px !important;
  margin-bottom: -4px;
}

.mat-card-header .mat-card-title {
  font-size: 16px;
}

.mat-dialog-container {
  background: rgba(255, 255, 255, 1);
  padding: 0px !important;
  border-radius: 8px !important;
}

/* button.linkButton{
  color: #686866;
} */

.tab-label {
  display: flex;
}

/* .tab-label > span{
  margin-right: 8px;
  font-size: 1em;
  color: #000000;
  font-weight: 600;
}  */
.tab-label>mat-icon {
  color: #fff;
}

.mat-tab-label-active {
  background: #ACBF9A !important;
  opacity: 1 !important;
}

div.mat-tab-label:not(.mat-tab-label-active)>div.mat-tab-label-content>div.tab-label>span {
  margin-right: 8px;
  font-size: 1em;
  color: #000000;
  font-weight: 600;
}

div.mat-tab-label-active>div.mat-tab-label-content>div.tab-label>span {
  color: #fff !important;
  margin-right: 8px;
}


/* change scrollbar style */
/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a9ca74;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #97c54e;
  border-radius: 4px;
}

.check-box-flex {
  display: flex;
  flex-direction: column;
}

.infoLabel {
  display: flex;
  font-size: 12px;
  font-weight: bold;
  color: #686866;
  justify-content: space-between;
}

.infoLabel mat-icon {
  font-size: 18px
}

/* .mat-card-header{
  flex-direction: row-reverse !important;
} */
.mat-card {
  box-shadow: 0px 0px 7px rgb(0, 0, 0, 0.1) !important;
}

textarea.templateTextArea+span>label {
  padding: 10px;
}

.saveMessage {
  color: #8FC636;
  text-align: center;
  padding: 10px;
  /* font-weight: bold; */
}

div.dialogMessage button {
  height: 1.5em !important;
}

.infoIcon {
  width: 100% !important;
  text-align: center;
}

.infoMessage {
  color: #535353;
  font-weight: bold;
  text-align: center;
}

.infoMsg {
  position: relative;
}

.flickerTitle {
  color: #535353;
  -webkit-animation: flickerAnimation 1s infinite;
  -moz-animation: flickerAnimation 1s infinite;
  -o-animation: flickerAnimation 1s infinite;
  animation: flickerAnimation 1s infinite;
}

.productData {
  text-align: center;
  line-height: 1;
  margin: 1em;
}

.productName {
  color: #8FC636;
  font-weight: 600;
  padding: 0px 0px 10px;
  font-size: 2em;
  direction: rtl;
}

.productSubTitle {
  color: #686866;
  font-size: 1.1em;
  font-weight: bold;
}

.tableActions {
  display: flex;
  flex-direction: row-reverse;
  margin: 2em 0;
}

.tableActions>div {
  margin-left: 10px;
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}








.sms>div.mat-card-header-text {
  margin: 0;
}

mat-form-field.Picker input.mat-datepicker-input~span.mat-form-field-label-wrapper {
  top: 0 !important;
}

.logInForm .mat-form-field-appearance-outline .mat-form-field-outline,
.logInForm input,
.logInForm label {
  color: #676766 !important;
}

.spinner {
  position: absolute !important;
  /* top: -2em;
  left: 1em; */
  width: 100% !important;
}

.spinner svg {
  width: 100% !important;
}


mat-spinner {
  position: absolute;
}

.noDataSpinner {
  margin: auto;
}

mat-card-actions.actionWrapB mat-spinner>svg,
mat-card-actions.newSMSActionButtons mat-spinner>svg {
  width: 100% !important;
}

.mat-progress-spinner {
  position: absolute !important;
  right: 0;
  left: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  z-index: 99999;
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #8AC443;
}

mat-spinner.orangeSp>svg>circle {
  stroke: #FF6347;
}

.disableSpinner {
  display: none !important;
}

.enableSpinner {
  display: block;
}

textarea.multipassTextArea {
  min-height: 8em;
  padding: 10px !important;
  border: 1px solid #DDE0E0;
  border-radius: 10px;
  background: #fff;
}

textarea.multipassTextArea+span>label {
  padding: 5px 10px;
}

.mainSpinner {
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 9999999999999;
}

.mainSpinner>mat-spinner {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

div.time-container {
  direction: ltr;
}

/* rewrite */
/* .mat-form-field-appearance-fill .mat-form-field-label{
  margin-top: 0;
} */
/* .mat-form-field-flex{
  direction: rtl;
} */



mat-row,
mat-header-row,
mat-footer-row,
th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  border-bottom-color: #EFEFED;
}

textarea.templateTextArea+span>label.mat-form-field-label {
  top: 1em !important;
}

textarea.mat-input-element {
  direction: rtl;
}

.mat-form-field-appearance-fill .mat-form-field-label {
  /* margin-top: 0; */
}

.mat-checkbox-layout {
  direction: rtl;
}

.mat-checkbox-inner-container {
  margin-right: 0 !important;
  margin-left: 8px !important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #686866;
}

.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element,
.mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element {
  background: #686866;
}

.ngx-mat-timepicker-table button span>mat-icon,
.ngx-mat-timepicker-table button span.mat-button-wrapper {
  color: #8FC636;
}

.mat-datepicker-content div.actions>button {
  background: #686866;
}




.mat-tab-header {
  border-bottom: unset;
}

.mat-tab-labels {
  display: flex;
  justify-content: right;
  flex-direction: row-reverse;
}

.mat-tab-labels>div {
  /* margin: 0 2px; */
}

.mat-tab-label {
  background: #acbf9a;
  border: 1px solid #8d977c;
  /* border-radius: 5px; */
  color: #fff;
  /* text-shadow: 0px 0px 2px rgb(88 143 101); */
}



.msg {
  text-align: center;
  padding: 6px;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: transparent;
}

.mat-datepicker-toggle.matDatepickerDisabled svg {
  color: #68686673 !important;
}

.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button .mat-datepicker-toggle-default-icon {
  margin: -6px !important;
}

.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button {
  width: 1.5em !important;
}

.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-datepicker-toggle-default-icon {
  width: 1em !important;
  height: 1em !important;
}

.wrapGraphs canvas {
  width: 100% !important
}

.mat-elevation-z8 {
  overflow-x: auto;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.1) !important;
}

.mat-paginator-container {
  justify-content: center !important;
  direction: ltr;
}

.mat-paginator-page-size {
  flex-direction: row-reverse;
}

.actionButton {
  display: flex;
  background: #88C43E;
  color: #fff;
}

.mat-radio-button>label>span.mat-radio-label-content {
  margin: 0 5px;
  color: #686866;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #686866;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: #686866;
}

.mat-select-arrow,
.mat-form-field.mat-focused .mat-form-field-label,
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled),
.mat-form-field.mat-focused.mat-primary .mat-select-arrow,
button svg,
button.linkButton mat-icon {
  color: #a9ca74 !important;
}

button.linkButton:hover {
  background: #97c54e;
  color: #fff;
}

button.linkButton:hover .mat-icon {
  color: #fff !important;
}

button mat-icon {
  color: #fff;
}

.mat-form-field.mat-focused .mat-form-field-ripple,
.mat-calendar-body-selected {
  background-color: #8FC636 !important;
}

.mat-sort-header-pointer-middle,
.mat-sort-header-pointer-right,
.mat-sort-header-pointer-left,
.mat-sort-header-stem {
  color: #8FC636;
}

.mat-expansion-panel-header {
  /* background: #DDE0E0; */
  border-bottom: 1px solid #DDE0E0;
  padding: 30px 24px !important;

}

.mat-expansion-panel-header.mat-expanded:focus,
.mat-expansion-panel-header.mat-expanded:hover,
.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover {
  /* background: #686866 !important; */
}

.mat-expansion-panel-header span.mat-content>*:hover {
  /* color: #fff; */
}

mat-panel-description {
  font-size: 1.2rem;
}

.mat-expansion-indicator {
  display: none;
}

.absoluteIcon {
  position: absolute;
  right: 0;
}

.mat-expansion-panel {
  background: inherit;
  box-shadow: unset !important;
}

.mat-accordion .mat-expansion-panel {
  margin-bottom: 3rem;
}

th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type {
  padding-left: 5px !important;
}

.wrap-main-menu {
  position: sticky;
  top: 20px;
  height: auto !important;
  margin-top: -3px;
  border-top: 3px solid #686866;
}

/* rewrite end */



.adminPageSideNav .mat-button-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.adminPageSideNav .mat-button-wrapper mat-icon {
  height: 100%;
  margin: auto 0;
}


.strong {
  font-weight: 700;
}

.important-button-margin span.mat-button-wrapper {
  padding: 0 !important;
}

.dropDownOption mat-form-field div.mat-form-field-wrapper {
  padding: 0;
}

.wrapDropDownOption {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row-reverse;
  position: sticky;
  top: 0;
  z-index: 9999999;
  background: #fff;
  padding: 5px;
}

.buttonFlexMarginAuto {
  display: flex;
  margin: auto 5px;
}

.dropDownOption {
  flex: 1 1 0px
}

.dropDownOption mat-icon {
  /* color: #686866 !important; */
  padding: 0 5px;
}

.matPrefSuf {
  color: #BCBBBC !important;
}

.dropDownOption div.mat-form-field-infix {
  padding: 0em 0 0.7em 0;
}

.dropDownOption div.mat-form-field-prefix {
  margin: auto;
  margin-left: -10px;
}


.preWrap {
  white-space: pre-wrap;
}

.cdk-overlay-pane {
  max-height: unset !important;
}

.wrapSendButton {
  display: flex;
  justify-content: flex-start;
}

.mat-paginator-range-actions:nth-child(1) {
  order: 1;
}

.mat-paginator-range-actions :nth-child(2) {
  order: 3;
  rotate: 180deg;
}

.mat-paginator-range-actions :nth-child(3) {
  order: 2;
  rotate: 180deg;
}

.BreakWord {
  word-wrap: break-word;
}

/* mobile */

@media screen and (max-width: 1024px) {

  /* .cdk-overlay-pane{
    max-width: 98vw !important;
  } */
  .sticky {
    z-index: 999 !important;
  }

  .mat-card>.mat-card-actions:last-child {
    display: flex;
    justify-content: center;
  }

  .app-main-view {
    margin-top: 0;
    flex-direction: column-reverse;
  }

  .headerWrap {
    position: unset;
  }

  .mat-tab-header .mat-tab-labels {
    flex-direction: row-reverse !important;
    flex-wrap: wrap;
  }

  .mat-tab-header .mat-tab-labels>div {
    flex-grow: 1;
    flex-basis: 0;
  }

  div.mat-tab-label-active>div.mat-tab-label-content>div.tab-label>span,
  div.mat-tab-label>div.mat-tab-label-content>div.tab-label>span {
    margin-right: 0 !important;
    font-size: 14px;
  }

  .mat-tab-label {
    padding: 0 !important;
  }

  .mat-tab-label .mat-tab-label-content {
    white-space: break-spaces !important;
  }

  div.tab-label>mat-icon,
  div.tab-label>fa-icon {
    display: none;
  }

  svg {
    font-size: 21px !important;
  }

  table {
    width: auto
  }

  .customer-flex>div {
    width: 40%;
    margin: 8px;
  }

  .flex-element {
    flex-direction: column-reverse;
  }

  .wrapMain-Menu-View {
    flex-direction: column-reverse;
    background: #686866;
  }

  .formWrapRow mat-form-field.datePickerPadding div.mat-form-field-wrapper {
    margin-left: 0;
  }

  .element-page-title {
    top: -11px;
    font-size: 1.5rem;
    width: fit-content;
    margin: auto;
  }

  .width-block-auto {
    /* overflow: auto; */
  }

  .page-wrap {
    margin: 0;
  }

  .page-element {
    margin: 1rem 6px;
    padding: 5px;
    width: 96%;
  }

  .formBorder {
    padding: 15px 0 0;
  }

  .main2-title {
    flex-direction: column;
  }

  /* .main2-title > div{
    text-align: center;
    margin: 5px 0;
  } */
  .wrapFlexTwoCol {
    flex-direction: column;
  }

  .wrapFlexTwoCol>div.formWrapColumn {
    flex-direction: row-reverse;
    margin: 0;
  }

  .wrapFlexTwoCol>div.formWrapColumn>mat-form-field {
    margin: 6px;
    flex-grow: 1;
    flex-basis: 0;
  }

  .mat-expansion-panel-body {
    padding: 0 5px 0px !important;
  }

  .flexData {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .flexData>div {
    margin: 10px 0;
  }

  .flexData>mat-form-field {
    width: 46%;
  }

  .fixed-column-buttons {
    border-radius: 10px;
  }

  .fixed-column-buttons>button {
    margin: 6px;
  }

  .mat-form-field-appearance-legacy .mat-form-field-label {
    font-size: 13px;
    font-weight: 700;
  }

  table.tableView tr th {
    padding: 0px 2rem;
  }

  .mat-accordion .mat-expansion-panel {
    margin-bottom: 1.5rem;
  }




  /* rewrite mobile*/
  .mat-elevation-z8 {
    border: 3px solid #fff;
    direction: rtl;

  }

  .mat-paginator-range-actions {
    direction: ltr;
    display: flex;
  }





  [dir=rtl] th.mat-header-cell:last-of-type:not(:only-of-type),
  [dir=rtl] td.mat-cell:last-of-type:not(:only-of-type),
  [dir=rtl] td.mat-footer-cell:last-of-type:not(:only-of-type) {
    padding-left: 0 !important;
    padding: 5px !important;
  }

  .mat-button,
  .mat-raised-button,
  .mat-icon-button,
  .mat-stroked-button,
  .mat-flat-button,
  .mat-fab,
  .mat-mini-fab {
    font-size: 12px;
  }

  .mat-button,
  .mat-icon-button,
  .mat-stroked-button,
  .mat-flat-button {
    padding: 0 7px !important;
    line-height: 29px !important;
  }
}


.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 2;
}

.top100 {
  top: 100px !important;
  z-index: 999;
}

.mat-button-disabled {
  color: #a4a4a2 !important;
  background: #dedada !important;
  border: 1px solid #dedada !important;
}

.mat-button-disabled.mat-paginator-navigation-previous,
.mat-button-disabled.mat-paginator-navigation-next {
  color: #a4a4a2 !important;
  background: unset !important;
  border: unset !important;
}

.mat-checkbox-mixedmark {
  color: #656767 !important;
}

.mat-checkbox-mixedmark {
  background-color: #656767;
}

.mat-checkbox-checkmark-path {
  stroke: #656767 !important;
}

.bgMint {
  background: #eff4ea !important;
}

.actionsButton {
  text-align: center;
  margin: 1em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filterSpinner {
  position: absolute !important;
}

.titleDisplayFlex {
  display: flex;
  justify-content: space-between;
}

/* filter table and table */
.formElement {
  display: flex;
  flex-direction: column;
}

.formWrap {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.formWrap>div.formWrapRow {
  flex-direction: row-reverse;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  flex-basis: 0;
}

.formWrap>div.formWrapRow>div {
  margin: 0 30px;
  flex-grow: 1;
  flex-basis: 0;
}

.formWrap>div.formWrapRow>div>mat-form-field {
  width: 100%;
}

.buttonsWrap {
  text-align: center;
  margin: 0;
  position: relative;
}

.darkGreyButton {
  background: rgb(72 73 73) !important;
  background-color: rgb(72 73 73) !important;
  color: #fff;
}

button.darkGreyButton:hover {
  background: #88C43E !important;
}

mat-icon:hover {
  cursor: pointer;
}

mat-icon.routActive {
  color: #88C43E !important;
  background: #fff !important;
}

.routActive {
  background: #88C43E !important;
  box-shadow: none !important;
}

.routActiveImportantButton {
  background: #56910e !important;
  box-shadow: none !important;
}

.buttonsWrap button {
  margin: 10px
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  direction: rtl;
}

.example-radio-button {
  margin: 5px;
}

.radioGroupWrap {
  margin: 0 20px;
}

.radioButton {
  margin-left: 5px;
}

.mat-paginator-range-label {
  direction: rtl;
}

.clearButton mat-icon {
  color: #8FC636;
}

input.mat-datepicker-input {
  margin-top: 0 !important;
}

.inputPadding {
  padding-top: 1.1em;
}

.displayNone {
  display: none;
}

fa-icon>svg {
  color: #fff;
}


.dirRTL {
  direction: rtl;
}

.isDisabled {
  color: currentColor;
  opacity: 0.5;
  text-decoration: none;
  pointer-events: none;
}


mat-form-field.marginTop0>div.mat-form-field-wrapper>div.mat-form-field-flex>div.mat-form-field-infix>span.mat-form-field-label-wrapper>label.mat-form-field-label {
  margin-top: -2px !important;
}

.readOnliNotifivation {
  color: #f4a293;
  margin-right: auto !important;
  display: flex;
}

.tableViewContent {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.tableViewContent .tableCol {
  width: 100%;

}

.tableViewContent .tableCol .colTitle {
  background-color: #EFEFED;
  color: #686866;
  padding: 0.5em 5em;
  font-weight: bold;
}

.tableViewContent .tableCol .colRow {
  padding: 0.5em 5em;

}

.tableViewContent .tableCol .colRow mat-form-field {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .mat-select-panel {
    min-width: 100% !important;
  }

  app-main-menu {
    direction: rtl;
  }

  .mat-table {
    /* direction: ltr; */
  }

  .main2-title {
    border-top: 0;
  }

  .formWrap {
    flex-direction: row-reverse;
  }

  .formWrap>div.formWrapRow {
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
  }

  .formWrap>div.formWrapRow>div {
    margin: 0px 9px;
  }

  div.formWrapRow mat-form-field {
    width: 99% !important;
  }

  .page-element {
    /* width: unset;  order/id mobile problem*/
  }
}