.wrapGraphs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.wrapGraphs > div{
    flex-grow: 1;
}

.wrapTables{
    display: flex;
    justify-content: space-around;
}
.wrapTables > div{
    flex-grow: 1;
    margin: 12px;
}
.page-element-margin{
    margin: 20px 5px !important;
}

@media screen and (max-width: 1024px){
    .wrapTables{
        flex-direction: column;
    }
    .page-element{
        width: unset;
    }
}