<div class="page-wrap">
    <div class="page-element width-block-auto">
        <div class="wrapData formBorder">
            <div class="fixed-column-buttons">
                <button mat-button class="linkButton" (click)="accordion.closeAll()">
                    <span>צמצם הכל</span>
                    <mat-icon>compress</mat-icon>
                </button>
                <button mat-button class="linkButton" (click)="accordion.openAll()">
                    <span>הרחב הכל</span>
                    <mat-icon>expand</mat-icon>
                </button>
                <button mat-button class="addButton">
                    <span>שמור</span>
                    <mat-icon>save</mat-icon>
                </button>
            </div>

            <!-- user data -->
            <div>
                <form [formGroup]="newUserGroupForm">
                    <mat-accordion class="example-headers-align" multi>

                        <!-- User -->
                        <mat-expansion-panel #newUser selectedIndex="1" [expanded]="true" >
                            <mat-expansion-panel-header>
                                <mat-panel-title></mat-panel-title>
                                <mat-panel-description>
                                    <div>
                                        <mat-icon *ngIf="!newUser.expanded" class="absoluteIcon">arrow_circle_down
                                        </mat-icon>
                                    </div>
                                    <div>
                                        <mat-icon *ngIf="newUser.expanded" class="absoluteIcon">arrow_circle_up
                                        </mat-icon>
                                    </div>
                                    <div class="titleDesc">
                                        פרטי משתמש
                                    </div>
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <div class="wrapFormElement">
                                <div class="wrapFlexTwoCol" formGroupName="userData">
                                    <div class="formWrapColumn">
                                        <mat-form-field>
                                            <mat-label>שם</mat-label>
                                            <input matInput placeholder="שם" formControlName="Fname">
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>שם משפחה</mat-label>
                                            <input matInput placeholder="שם משפחה" formControlName="Lname">
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>דוא"ל</mat-label>
                                            <input matInput placeholder='דוא"ל' formControlName="Email">
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>סיסמה</mat-label>
                                            <input matInput placeholder="סיסמה" formControlName="Password">
                                        </mat-form-field>

                                    </div>
                                    <div class="formWrapColumn">
                                        <mat-form-field>
                                            <mat-label>טלפון</mat-label>
                                            <input matInput placeholder='טלפון' formControlName="Phone">
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>מספר טלפון נוסף</mat-label>
                                            <input matInput placeholder="מספר טלפון נוסף" formControlName="Phone1">
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>פקס</mat-label>
                                            <input matInput placeholder="פקס" formControlName="Fax">
                                        </mat-form-field>

                                    </div>
                                    <hr>
                                    <div class="formWrapColumn">
                                        <mat-form-field>
                                            <mat-label>כתובת</mat-label>
                                            <input matInput placeholder="כתובת" formControlName="Address">
                                        </mat-form-field>
                                    </div>
                                    <div class="formWrapColumn">
                                        <mat-form-field>
                                            <mat-label>CityId</mat-label>
                                            <input matInput placeholder="CityId" formControlName="CityId">
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>TenantId</mat-label>
                                            <input matInput placeholder="עיר" formControlName="CityName">
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>AreaId</mat-label>
                                            <input matInput placeholder="AreaId" formControlName="AreaId">
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>ZIP</mat-label>
                                            <input matInput placeholder="ZIP" formControlName="ZIP">
                                        </mat-form-field>
                                    </div>
                                    <hr>
                                    <div class="formWrapColumn">
                                        <mat-form-field>
                                            <mat-label>Address2</mat-label>
                                            <input matInput placeholder="Address2" formControlName="Address2">
                                        </mat-form-field>
                                    </div>
                                    <div class="formWrapColumn">

                                        <mat-form-field>
                                            <mat-label>CityId2</mat-label>
                                            <input matInput placeholder="CityId2" formControlName="CityId2">
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>CityName2</mat-label>
                                            <input matInput placeholder="CityName2" formControlName="CityName2">
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>AreaId2</mat-label>
                                            <input matInput placeholder="AreaId2" formControlName="AreaId2">
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>ZIP2</mat-label>
                                            <input matInput placeholder="ZIP2" formControlName="ZIP2">
                                        </mat-form-field>
                                    </div>

                                    <hr>
                                    <div class="formWrapColumn">

                                        <mat-form-field>
                                            <mat-label>UserType</mat-label>
                                            <input matInput placeholder="UserType" formControlName="UserType">
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>Tz</mat-label>
                                            <input matInput placeholder="Tz" formControlName="Tz">
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>NameInSite</mat-label>
                                            <input matInput placeholder="NameInSite" formControlName="NameInSite">
                                        </mat-form-field>
                                    </div>
                                    <div class="formWrapColumn">
                                        <mat-form-field>
                                            <mat-label>Logo</mat-label>
                                            <input matInput placeholder="Logo" formControlName="Logo">
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>Image</mat-label>
                                            <input matInput placeholder="Image" formControlName="Image">
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>UserTypeDesc</mat-label>
                                            <input matInput placeholder="UserTypeDesc" formControlName="UserTypeDesc">
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>ExternalId</mat-label>
                                            <input matInput placeholder="ExternalId" formControlName="ExternalId">
                                        </mat-form-field>
                                    </div>
                                    <div class="formWrapColumn">
                                        <mat-form-field>
                                            <mat-label>DealerPaymentCondition</mat-label>
                                            <input matInput placeholder="DealerPaymentCondition" formControlName="DealerPaymentCondition">
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>DealerItemPriceListId</mat-label>
                                            <input matInput placeholder="DealerItemPriceListId" formControlName="DealerItemPriceListId">
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>DealerCredit</mat-label>
                                            <input matInput placeholder="DealerCredit" formControlName="DealerCredit">
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>DealerDiscountPercent</mat-label>
                                            <input matInput placeholder="DealerDiscountPercent" formControlName="DealerDiscountPercent">
                                        </mat-form-field>
                                    </div>
                                    <div class="formWrapColumn">
                                        <mat-form-field>
                                            <mat-label>OrganizationName</mat-label>
                                            <input matInput placeholder="OrganizationName" formControlName="OrganizationName">
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>Website</mat-label>
                                            <input matInput placeholder="Website" formControlName="Website">
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>Priority</mat-label>
                                            <input matInput placeholder="Priority" formControlName="Priority">
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>ClubType</mat-label>
                                            <input matInput placeholder="ClubType" formControlName="ClubType">
                                        </mat-form-field>
                                    </div>
                                    <div class="formWrapColumn">
                                        <mat-form-field>
                                            <mat-label>ShowInSite</mat-label>
                                            <input matInput placeholder="ShowInSite" formControlName="ShowInSite">
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>AcceptNewsLetter</mat-label>
                                            <input matInput placeholder="AcceptNewsLetter" formControlName="AcceptNewsLetter">
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>Latitude</mat-label>
                                            <input matInput placeholder="Latitude" formControlName="Latitude">
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>Longitude</mat-label>
                                            <input matInput placeholder="Longitude" formControlName="Longitude">
                                        </mat-form-field>
                                    </div>
                                    <div class="formWrapColumn">
                                        <mat-form-field>
                                            <mat-label>SEO_H1Title</mat-label>
                                            <input matInput placeholder="SEO_H1Title" formControlName="SEO_H1Title">
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>SEO_KeyWords</mat-label>
                                            <input matInput placeholder="SEO_KeyWords" formControlName="SEO_KeyWords">
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>ComaxNumber</mat-label>
                                            <input matInput placeholder="ComaxNumber" formControlName="ComaxNumber">
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>PosNo</mat-label>
                                            <input matInput placeholder="PosNo" formControlName="PosNo">
                                        </mat-form-field>
                                    </div>
                                    <div class="formWrapColumn">
                                        <mat-form-field>
                                            <mat-label>Role</mat-label>
                                            <input matInput placeholder="Role" formControlName="Role">
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>BusinessFile</mat-label>
                                            <input matInput placeholder="BusinessFile" formControlName="BusinessFile">
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>BusinessValidDate</mat-label>
                                            <input matInput placeholder="BusinessValidDate" formControlName="BusinessValidDate">
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>LastPassUpdated</mat-label>
                                            <input matInput placeholder="LastPassUpdated" formControlName="LastPassUpdated">
                                        </mat-form-field>
                                    </div>
                                    <div class="formWrapColumn">
                                        <mat-form-field>
                                            <mat-label>Streetno</mat-label>
                                            <input matInput placeholder="Streetno" formControlName="Streetno">
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>Contactof</mat-label>
                                            <input matInput placeholder="Contactof" formControlName="Contactof">
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>ApartmentNo</mat-label>
                                            <input matInput placeholder="ApartmentNo" formControlName="ApartmentNo">
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>Entrance</mat-label>
                                            <input matInput placeholder="Entrance" formControlName="Entrance">
                                        </mat-form-field>
                                    </div>

                                    <div class="formWrapColumn">
                                        <mat-form-field>
                                            <mat-label>Floor</mat-label>
                                            <input matInput placeholder="Floor" formControlName="Floor">
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>Contactof</mat-label>
                                            <input matInput placeholder="Contactof" formControlName="Contactof">
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>TenantId </mat-label>
                                            <input matInput placeholder="TenantId " formControlName="TenantId">
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>MultipassClientId</mat-label>
                                            <input matInput placeholder="MultipassClientId" formControlName="MultipassClientId">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </mat-expansion-panel>

                        <!-- tenant -->
                        <mat-expansion-panel #address selectedIndex="1" >
                            <mat-expansion-panel-header>
                                <mat-panel-title> </mat-panel-title>
                                <mat-panel-description>
                                    <mat-icon *ngIf="!address.expanded" class="absoluteIcon">arrow_circle_down
                                    </mat-icon>
                                    <mat-icon *ngIf="address.expanded" class="absoluteIcon">arrow_circle_up
                                    </mat-icon>
                                    <div class="titleDesc">
                                        tenant
                                    </div>
                                </mat-panel-description>
                            </mat-expansion-panel-header>

                            <div class="wrapFormElement">
                                <div class="wrapFlexTwoCol" >
                                    <div class="formWrapColumn" formGroupName="tenantData">
                                        <mat-form-field>
                                            <mat-label>TenantId</mat-label>
                                            <input matInput placeholder="TenantId" formControlName="TenantId">
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>TenantDescription</mat-label>
                                            <input matInput placeholder="TenantDescription" formControlName="TenantDescription">
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>GroupDescription</mat-label>
                                            <input matInput placeholder="GroupDescription" formControlName="GroupDescription">
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>Image</mat-label>
                                            <input matInput placeholder="Image" formControlName="Image">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>

                            <!-- <mat-datepicker #picker></mat-datepicker> -->
                        </mat-expansion-panel>

                    </mat-accordion>
                </form>
            </div>
        </div>
    </div>

</div>
