<div class="pageTitle main2-title sticky top100">
    <div *ngIf="customerData" class="headerData">
        <div class="data"> {{customerData.OrganizationName != undefined ? customerData.OrganizationName :
            customerData.organizationName}} </div>
        <div> :לקוח</div>
    </div>
</div>
<div class="page-wrap" *ngIf="customerData">
    <div class="page-element width-block-auto">
        <form [formGroup]="CustomerForm" (submit)="saveForm()">

            <div class="wrapData formBorder">
                <div class="fixed-column-buttons">
                    <div class="wrapStickyButtons">
                        <div>
                            <a mat-button class="linkButton" (click)="accordion.closeAll()">
                                <span>צמצם הכל</span>
                                <mat-icon>compress</mat-icon>
                            </a>
                        </div>
                        <div>
                            <a mat-button class="linkButton" (click)="accordion.openAll()">
                                <span>הרחב הכל</span>
                                <mat-icon>expand</mat-icon>
                            </a>
                        </div>
                        <div class="wrapAB">
                            <button mat-button class="addButton">
                                <span>שמור</span>
                                <mat-icon>save</mat-icon>
                            </button>
                            <mat-spinner *ngIf="saveFormSpinner" class="saveFormSpinner"></mat-spinner>
                        </div>
                    </div>
                    <div class="error textAlignCenter" *ngIf="errorActionButtons != ''">{{errorActionButtons}}</div>
                    <div class="saveMessage textAlignCenter" *ngIf="msgActionButtons != ''">{{msgActionButtons}}</div>
                </div>

                <!-- user data -->
                <div>
                    <mat-accordion class="example-headers-align" multi>

                        <!-- Recent orders -->
                        <mat-expansion-panel [expanded]="true" #RecOrders selectedIndex="0">
                            <mat-expansion-panel-header>
                                <mat-panel-title></mat-panel-title>
                                <mat-panel-description>
                                    <div>
                                        <mat-icon *ngIf="!RecOrders.expanded" class="absoluteIcon">arrow_circle_down
                                        </mat-icon>
                                    </div>
                                    <div>
                                        <mat-icon *ngIf="RecOrders.expanded" class="absoluteIcon">arrow_circle_up
                                        </mat-icon>
                                    </div>
                                    <div class="titleDesc">
                                        הזמנות אחרונות וזימון שוברים
                                    </div>
                                </mat-panel-description>
                            </mat-expansion-panel-header>

                            <!-- <div class="graph-buttons-wrap">
                                <div class="element-page-title">הזמנות אחרונות</div>
                                <div class="element-page-title">זימון שוברים</div>

                            </div> -->
                            <div class="graph-buttons-wrap">
                                <div>
                                    <div class="element-page-title">הזמנות אחרונות</div>
                                    <div class="innerElement graphWrap">
                                        <app-bar-chart *ngIf="customerOrders != undefined" chartTitle=""
                                            [chartData]="recOrdersChartData" [chartLabels]="recOrdersChartLabels"
                                            chartColor="#88C43E">

                                        </app-bar-chart>
                                    </div>
                                </div>
                                <div>
                                    <div class="element-page-title">זימון שוברים</div>
                                    <div class="buttonInElement innerElement createOrdersButtonsWrap">

                                        <!--[routerLink]="['/public/orderCards',0,customerData.id]"-->
                                        <div (click)="goToOrderCards(0,customerData.id)" mat-button class="sendButton">
                                            <span>הזמנת שוברים דיגיטלים מאקסל </span>
                                            <fa-icon [icon]="faFileExcel"></fa-icon>

                                        </div>

                                        <!--[routerLink]="['/public/orderCards',1,customerData.id]"-->
                                        <div (click)="goToOrderCards(1,customerData.id)" mat-button class="sendButton">
                                            <span>הזמנת שוברים דיגיטלים ידנית </span>
                                            <mat-icon> settings </mat-icon>
                                        </div>

                                        <!--[routerLink]="['/public/orderCards',2,customerData.id]" -->
                                        <div (click)="goToOrderCards(2,customerData.id)" mat-button class="sendButton">
                                            <span>טעינת שוברים</span>
                                            <mat-icon> file_upload</mat-icon>
                                        </div>

                                        <!--[routerLink]="['/public/allOrders',customerData.OrganizationName]"-->
                                        <div (click)="goToAlOrdersByCustomer(customerData.OrganizationName)" mat-button
                                            class="sendButton">
                                            <span>לכל הזמנות הלקוח</span>
                                            <mat-icon>list</mat-icon>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </mat-expansion-panel>

                        <!-- User -->
                        <mat-expansion-panel #newUser selectedIndex="1">
                            <mat-expansion-panel-header>
                                <mat-panel-title></mat-panel-title>
                                <mat-panel-description>
                                    <div>
                                        <mat-icon *ngIf="!newUser.expanded" class="absoluteIcon">arrow_circle_down
                                        </mat-icon>
                                    </div>
                                    <div>
                                        <mat-icon *ngIf="newUser.expanded" class="absoluteIcon">arrow_circle_up
                                        </mat-icon>
                                    </div>
                                    <div class="titleDesc">
                                        פרטי לקוח
                                    </div>
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <div class="wrapFormElement">
                                <div class="wrapFlexTwoCol">

                                    <div class="formWrapColumn">
                                        <mat-form-field>
                                            <mat-label>שם חברה</mat-label>
                                            <input matInput placeholder="שם חברה" formControlName="OrganizationName"
                                                tabindex="1">
                                            <button class="clearButton"
                                                *ngIf="this.CustomerForm.get('OrganizationName').value != ''" mat-button
                                                matPrefix mat-icon-button aria-label="Clear"
                                                (click)="this.CustomerForm.get('OrganizationName').setValue('')">
                                                <mat-icon>close</mat-icon>
                                            </button>
                                            <mat-error *ngIf="CustomerForm.get('OrganizationName').errors?.pattern">
                                                {{MsgList.lettersValidationErr}}
                                                <mat-icon>error</mat-icon>
                                            </mat-error>
                                            <mat-error
                                                *ngIf="CustomerForm.get('OrganizationName').errors?.required || CustomerForm.get('OrganizationName').errors?.whitespace">
                                                {{MsgList.requiredField}}
                                                <mat-icon>error</mat-icon>
                                            </mat-error>

                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>מספר טלפון*</mat-label>
                                            <input matInput placeholder="מספר טלפון" formControlName="Phone"
                                                tabindex="5" numbersOnly [attr.maxlength]="10">
                                            <button class="clearButton"
                                                *ngIf="this.CustomerForm.get('Phone').value != ''" mat-button matPrefix
                                                mat-icon-button aria-label="Clear"
                                                (click)="this.CustomerForm.get('Phone').setValue('')">
                                                <mat-icon>close</mat-icon>
                                            </button>
                                            <mat-error *ngIf="CustomerForm.get('Phone').errors?.pattern">
                                                {{MsgList.phonePatternErr}}
                                                <mat-icon>error</mat-icon>
                                            </mat-error>
                                            <mat-error *ngIf="CustomerForm.get('Phone').errors?.required">
                                                {{MsgList.requiredField}}
                                                <mat-icon>error</mat-icon>
                                            </mat-error>
                                        </mat-form-field>

                                    </div>
                                    <div class="formWrapColumn">
                                        <mat-form-field>
                                            <mat-label>שם פרטי</mat-label>
                                            <input matInput placeholder="שם פרטי" formControlName="FName" tabindex="2"
                                                pattern="^([^0-9]*)$">
                                            <button class="clearButton"
                                                *ngIf="this.CustomerForm.get('FName').value != ''" mat-button matPrefix
                                                mat-icon-button aria-label="Clear"
                                                (click)="this.CustomerForm.get('FName').setValue('')">
                                                <mat-icon>close</mat-icon>
                                            </button>
                                            <mat-error *ngIf="CustomerForm.get('FName').errors?.pattern">
                                                {{MsgList.lettersValidationErr}}
                                                <mat-icon>error</mat-icon>
                                            </mat-error>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>מספר טלפון נוסף</mat-label>
                                            <input matInput placeholder="מספר טלפון נוסף" formControlName="Phone1"
                                                tabindex="6" [attr.maxlength]="10" numbersOnly>
                                            <button class="clearButton"
                                                *ngIf="this.CustomerForm.get('Phone1').value != ''" mat-button matPrefix
                                                mat-icon-button aria-label="Clear"
                                                (click)="this.CustomerForm.get('Phone1').setValue('')">
                                                <mat-icon>close</mat-icon>
                                            </button>
                                            <mat-error *ngIf="CustomerForm.get('Phone1').errors?.pattern">
                                                {{MsgList.phonePatternErr}}
                                                <mat-icon>error</mat-icon>
                                            </mat-error>
                                        </mat-form-field>

                                    </div>
                                    <div class="formWrapColumn">
                                        <mat-form-field>
                                            <mat-label>שם משפחה</mat-label>
                                            <input matInput placeholder="שם משפחה" formControlName="LName" tabindex="3"
                                                pattern="^([^0-9]*)$">
                                            <button class="clearButton"
                                                *ngIf="this.CustomerForm.get('LName').value != ''" mat-button matPrefix
                                                mat-icon-button aria-label="Clear"
                                                (click)="this.CustomerForm.get('LName').setValue('')">
                                                <mat-icon>close</mat-icon>
                                            </button>
                                            <mat-error *ngIf="CustomerForm.get('LName').errors?.pattern">
                                                {{MsgList.lettersValidationErr}}
                                                <mat-icon>error</mat-icon>
                                            </mat-error>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>תפקיד</mat-label>
                                            <!-- <input matInput placeholder="תפקיד" formControlName="Permission" tabindex="7" pattern="^([^0-9]*)$"> -->
                                            <mat-select formControlName="Permission" tabindex="7">
                                                <mat-option *ngFor="let role of rolesList" [value]="role">
                                                    {{role}}
                                                </mat-option>
                                            </mat-select>
                                            <!-- <button class="clearButton" *ngIf="this.CustomerForm.get('Permission').value != ''" mat-button  matPrefix mat-icon-button aria-label="Clear" (click)="this.CustomerForm.get('Permission').setValue('')">
                                                <mat-icon>close</mat-icon>
                                            </button> -->
                                            <!-- <mat-error *ngIf="CustomerForm.get('Permission').errors?.pattern">{{MsgList.lettersValidationErr}}</mat-error> -->
                                        </mat-form-field>
                                    </div>
                                    <div class="formWrapColumn">
                                        <mat-form-field>
                                            <mat-label>דוא"ל</mat-label>
                                            <input matInput type="email" placeholder='דוא"ל' formControlName="Email"
                                                tabindex="4" emailFormatValidationErr>
                                            <button class="clearButton" *ngIf="CustomerForm.get('Email').value != ''"
                                                mat-button matPrefix mat-icon-button aria-label="Clear"
                                                (click)="this.CustomerForm.get('Email').setValue('')">
                                                <mat-icon>close</mat-icon>
                                            </button>
                                            <mat-error
                                                *ngIf="CustomerForm != undefined && CustomerForm.get('Email').hasError('email')">
                                                {{MsgList.emailFormatValidationErr}}
                                                <mat-icon>error</mat-icon>
                                            </mat-error>
                                            <mat-error
                                                *ngIf="CustomerForm != undefined && CustomerForm.get('Email').hasError('required')">
                                                {{MsgList.requiredField}}
                                                <mat-icon>error</mat-icon>
                                            </mat-error>
                                        </mat-form-field>

                                        <mat-form-field>
                                            <mat-label>ח.פ./עוסק מורש</mat-label>
                                            <input matInput placeholder="ח.פ./עוסק מורש" formControlName="Tz"
                                                tabindex="8" numbersOnly [attr.maxlength]="9" numbersOnly>

                                            <button class="clearButton" *ngIf="CustomerForm.get('Tz').value != ''"
                                                mat-button matPrefix mat-icon-button aria-label="Clear"
                                                (click)="this.CustomerForm.get('Tz').setValue('')">
                                                <mat-icon>close</mat-icon>
                                            </button>
                                            <mat-error *ngIf="CustomerForm.get('Tz').errors?.pattern">
                                                {{MsgList.numbersValidationErr}}
                                                <mat-icon>error</mat-icon>
                                            </mat-error>

                                            <mat-error *ngIf="CustomerForm.get('Tz').errors?.required">
                                                {{MsgList.requiredField}}
                                                <mat-icon>error</mat-icon>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </mat-expansion-panel>

                        <!-- address -->
                        <mat-expansion-panel #address selectedIndex="1">
                            <mat-expansion-panel-header>
                                <mat-panel-title> </mat-panel-title>
                                <mat-panel-description>
                                    <mat-icon *ngIf="!address.expanded" class="absoluteIcon">arrow_circle_down
                                    </mat-icon>
                                    <mat-icon *ngIf="address.expanded" class="absoluteIcon">arrow_circle_up
                                    </mat-icon>
                                    <div class="titleDesc">
                                        כתובת
                                    </div>
                                </mat-panel-description>
                            </mat-expansion-panel-header>

                            <div class="wrapFormElement">
                                <div class="wrapFlexTwoCol">
                                    <div class="formWrapColumn">
                                        <mat-form-field>
                                            <mat-label>עיר</mat-label>
                                            <input matInput placeholder="עיר" formControlName="CityName" tabindex="9"
                                                pattern="^([^0-9]*)$">
                                            <button class="clearButton" *ngIf="CustomerForm.get('CityName').value != ''"
                                                mat-button matPrefix mat-icon-button aria-label="Clear"
                                                (click)="this.CustomerForm.get('CityName').setValue('')">
                                                <mat-icon>close</mat-icon>
                                            </button>
                                            <mat-error *ngIf="CustomerForm.get('CityName').errors?.pattern">
                                                {{MsgList.lettersValidationErr}}
                                                <mat-icon>error</mat-icon>
                                            </mat-error>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>מספר דירה</mat-label>
                                            <input matInput placeholder="מספר דירה" formControlName="ApartmentNo"
                                                tabindex="13" pattern="[0-9]*" numbersOnly>
                                            <button class="clearButton"
                                                *ngIf="CustomerForm.get('ApartmentNo').value != ''" mat-button matPrefix
                                                mat-icon-button aria-label="Clear"
                                                (click)="this.CustomerForm.get('ApartmentNo').setValue('')">
                                                <mat-icon>close</mat-icon>
                                            </button>
                                            <mat-error *ngIf="CustomerForm.get('ApartmentNo').errors?.pattern">
                                                {{MsgList.numbersValidationErr}}
                                                <mat-icon>error</mat-icon>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="formWrapColumn">
                                        <mat-form-field>
                                            <mat-label>רחוב</mat-label>
                                            <input matInput placeholder="רחוב" formControlName="Streetno" tabindex="10"
                                                pattern="^([^0-9]*)$">
                                            <button class="clearButton" *ngIf="CustomerForm.get('Streetno').value != ''"
                                                mat-button matPrefix mat-icon-button aria-label="Clear"
                                                (click)="this.CustomerForm.get('Streetno').setValue('')">
                                                <mat-icon>close</mat-icon>
                                            </button>
                                            <mat-error *ngIf="CustomerForm.get('Streetno').errors?.pattern">
                                                {{MsgList.lettersValidationErr}}
                                                <mat-icon>error</mat-icon>
                                            </mat-error>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>קומה</mat-label>
                                            <input matInput placeholder="קומה" formControlName="floor" tabindex="14"
                                                pattern="[0-9]*" numbersOnly>
                                            <button class="clearButton" *ngIf="CustomerForm.get('floor').value != ''"
                                                mat-button matPrefix mat-icon-button aria-label="Clear"
                                                (click)="this.CustomerForm.get('floor').setValue('')">
                                                <mat-icon>close</mat-icon>
                                            </button>
                                            <mat-error *ngIf="CustomerForm.get('floor').errors?.pattern">
                                                {{MsgList.numbersValidationErr}}
                                                <mat-icon>error</mat-icon>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="formWrapColumn">
                                        <mat-form-field>
                                            <mat-label>מספר בית</mat-label>
                                            <input matInput placeholder="מספר בית" formControlName="HouseNumber"
                                                tabindex="11" pattern="[0-9]*" numbersOnly>
                                            <button class="clearButton"
                                                *ngIf="CustomerForm.get('HouseNumber').value != ''" mat-button matPrefix
                                                mat-icon-button aria-label="Clear"
                                                (click)="this.CustomerForm.get('HouseNumber').setValue('')">
                                                <mat-icon>close</mat-icon>
                                            </button>
                                            <mat-error *ngIf="CustomerForm.get('HouseNumber').errors?.pattern">
                                                {{MsgList.numbersValidationErr}}
                                                <mat-icon>error</mat-icon>
                                            </mat-error>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>מיקוד</mat-label>
                                            <input matInput placeholder="מיקוד" formControlName="ZIP" tabindex="15"
                                                pattern="[0-9]*" numbersOnly>
                                            <button class="clearButton" *ngIf="CustomerForm.get('ZIP').value != ''"
                                                mat-button matPrefix mat-icon-button aria-label="Clear"
                                                (click)="this.CustomerForm.get('ZIP').setValue('')">
                                                <mat-icon>close</mat-icon>
                                            </button>
                                            <mat-error *ngIf="CustomerForm.get('ZIP').errors?.pattern">
                                                {{MsgList.numbersValidationErr}}
                                                <mat-icon>error</mat-icon>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="formWrapColumn">
                                        <mat-form-field>
                                            <mat-label>כניסה</mat-label>
                                            <input matInput placeholder="כניסה" formControlName="Entrance"
                                                tabindex="12">
                                            <button class="clearButton"
                                                *ngIf="this.CustomerForm.get('Entrance').value != ''" mat-button
                                                matPrefix mat-icon-button aria-label="Clear"
                                                (click)="this.CustomerForm.get('Entrance').setValue('')">
                                                <mat-icon>close</mat-icon>
                                            </button>
                                        </mat-form-field>

                                    </div>
                                </div>
                            </div>

                            <!-- <mat-datepicker #picker></mat-datepicker> -->
                        </mat-expansion-panel>


                        <!-- settings -->
                        <mat-expansion-panel #settings selectedIndex="1 ">
                            <mat-expansion-panel-header>
                                <mat-panel-title> </mat-panel-title>
                                <mat-panel-description>
                                    <mat-icon *ngIf="!settings.expanded" class="absoluteIcon">arrow_circle_down
                                    </mat-icon>
                                    <mat-icon *ngIf="settings.expanded" class="absoluteIcon">arrow_circle_up
                                    </mat-icon>
                                    <div class="titleDesc">
                                        הגדרות
                                    </div>
                                </mat-panel-description>
                            </mat-expansion-panel-header>

                            <div class="wrapFormElement">
                                <div class="wrapFlexTwoCol">

                                    <div class="formWrapColumn">


                                        <mat-form-field class="formWrapColumn selectedFormFieldWidth">
                                            <mat-label>סטטוס</mat-label>
                                            <mat-select formControlName="StatusId">
                                                <mat-option *ngFor="let status of statusList" [value]="status.StatusId">
                                                    {{status.Description}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>

                                    </div>

                                    <div class="formWrapColumn">
                                        <mat-form-field>
                                            <mat-label>הערות</mat-label>
                                            <textarea class="multipassTextArea" matInput placeholder="הערות"
                                                formControlName="Notes" minlength="1"></textarea>
                                            <button class="clearButton"
                                                *ngIf="this.CustomerForm.get('Notes').value != ''" mat-button matPrefix
                                                mat-icon-button aria-label="Clear"
                                                (click)="this.CustomerForm.get('Notes').setValue('')">
                                                <mat-icon>close</mat-icon>
                                            </button>
                                        </mat-form-field>
                                    </div>
                                </div>

                            </div>

                            <!-- <mat-datepicker #picker></mat-datepicker> -->
                        </mat-expansion-panel>
                    </mat-accordion>

                </div>

            </div>
        </form>

        <div class="delCustButtonWrap">
            <button mat-button class="deleteButton" (click)="deleteCustomer()">מחק לקוח
                <mat-icon>delete</mat-icon>
                <mat-spinner class="spinner" *ngIf="deleteCardsSpinner"></mat-spinner>
            </button>
        </div>
    </div>
</div>