.formElement{
    display: flex;
    flex-direction: column;
}
.formWrap{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.formWrap > div.formWrapRow{
    flex-direction: row-reverse;
    display: flex;
    justify-content: space-between;
}
.formWrap > div.formWrapRow > div{
    margin: 0 30px;
    flex-grow: 1;
    flex-basis: 0;
}

.buttonsWrap button{
    margin: 10px
}
.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    direction: rtl;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  .radioGroupWrap{
    margin: 0 20px;
  }
  .radioButton{
      margin-left:5px;
  }

  .tableButton{
      white-space: pre-line !important;
      border-radius: 0px !important;
  }
  .colorWhite{
      /* color: #fff; */
  }
  div.formWrapRow mat-form-field{
    width:100% !important;
}


.actionsButton{
    text-align: center;
    margin: 1em 0;
    display: flex;
    /* margin: auto; */
    justify-content: center;
    align-items: center;
}
.filterActionButton{
    position: absolute;
}
  @media screen and (max-width: 1024px){
    .formWrap{
        flex-direction: row-reverse ;
    }
    .formWrap > div.formWrapRow{
        flex-direction: column;
        flex-grow: 1;
        flex-basis: 0;
    }
    .formWrap > div.formWrapRow > div{
        margin: 0px 9px;
    }
    div.formWrapRow mat-form-field{
        width:99%
    }
}