<div class="pageTitle main2-title">
    <div>רשימת הזמנות</div>
</div>

<div class="page-wrap">

    <!--filter table-->
    <div class="page-element width-block-auto">
        <div class="element-page-title">חיפוש הזמנות</div>
        <div class="formBorder formElement">
            <form [formGroup] = "filterTableGroup">
                <div class="formWrap">
                    <div class="formWrapRow">
                        <div>
                            <mat-form-field>
                                <mat-label>מספר הזמנה</mat-label>
                                <input matInput placeholder = "" formControlName = "idex">
                                <button class="clearButton" *ngIf="this.filterTableGroup.get('idex').value != ''" mat-button  matPrefix mat-icon-button aria-label="Clear" (click)="this.filterTableGroup.get('idex').setValue('')">
                                    <mat-icon>close</mat-icon>
                                </button>
                            </mat-form-field>
                        </div> 
                        <div>
                            <mat-form-field>
                                <mat-label>שם הלקוח</mat-label>
                                <input matInput placeholder = "" formControlName = "OrganizationName">
                                <button class="clearButton" *ngIf="this.filterTableGroup.get('OrganizationName').value != ''" mat-button  matPrefix mat-icon-button aria-label="Clear" (click)="this.filterTableGroup.get('OrganizationName').setValue('')">
                                    <mat-icon>close</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>                     
                        <div>
                            <mat-form-field appearance="fill" class="datePicker datePickerPadding marginTop-1">
                                <mat-label>מתאריך</mat-label>
                                <input matInput [matDatepicker]="picker" formControlName = "fromData">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>

                    </div>
                    <div class="formWrapRow">
                        <div>
                            <mat-form-field>
                                <mat-label>סכום טעינה ראשוני</mat-label>
                                <input matInput placeholder = "" formControlName = "initialChargeAmount">
                                <button class="clearButton" *ngIf="this.filterTableGroup.get('initialChargeAmount').value != ''" mat-button  matPrefix mat-icon-button aria-label="Clear" (click)="this.filterTableGroup.get('initialChargeAmount').setValue('')">
                                    <mat-icon>close</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class="selectedFormFieldWidth">
                                <mat-label>סטטוס</mat-label>
                                <mat-select formControlName="StatusDesc">
                                    <mat-option *ngFor="let status of returnStatusList()" [value]="status">
                                        {{status}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field appearance="fill" class="datePicker datePickerPadding marginTop-1">
                                <mat-label>עד תאריך</mat-label>
                                <input matInput [matDatepicker]="picker2" formControlName = "untilData">
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </form>
            <div class="buttonsWrap">
                <button mat-button class="linkButton" (click) = "resetForm()">אפס</button>
                <button mat-button class="addButton" (click) = "filterTable()">חפש</button>
            </div>
        </div>
    </div>

    <!--table-->
    <div class="page-element width-block-auto">
        <div class="element-page-title">רשימת הזמנות</div>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" class=" tableView" dir="rtl" matSort>
                <ng-container *ngFor="let obj of displayedColumns; let i = index;">
                    <ng-container  matColumnDef="{{obj}}" *ngIf="obj != 'delC'">
                        <th mat-header-cell *matHeaderCellDef> {{returnHebTranslation(orderLabelForTable,obj)}}</th>
                        <td mat-cell  *matCellDef="let element">
                            <span *ngIf="obj == 'idex'">
                                <a [routerLink]="['/public/order',element[obj]]">{{element[obj]}}</a><br>
                            </span>
                            <span *ngIf="obj == 'OrganizationName'">
                                <a [routerLink]="['/public/customer',element['UserId']]">{{element[obj]}}</a><br>
                            </span>
                            <div mat-button *ngIf="obj == 'StatusDesc'"
                                [class.tableOrderStatusClose] = "element['StatusId'] == 3"
                                [class.tableOrderStatusOpen] ="element['StatusId'] == 1"
                                [class.tableOrderStatusWaiting] = "element['StatusId'] == 2"
                                [class.tableOrderStatusFour] = "element['StatusId'] == 4"
                                [class.tableOrderStatusFiftin] = "element['StatusId'] == 50">
                                <div class="tableCageFlex" *ngIf="element['StatusId'] == 1"><mat-icon>watch_later</mat-icon></div>
                                <div class="tableCageFlex" *ngIf="element['StatusId'] == 2"><mat-icon>pending_actions</mat-icon></div>
                                <div class="tableCageFlex" *ngIf="element['StatusId'] == 3"><mat-icon>local_printshop</mat-icon></div>
                                <div class="tableCageFlex" *ngIf="element['StatusId'] == 4"><mat-icon>delivery_dining</mat-icon></div>
                                <div class="tableCageFlex" *ngIf="element['StatusId'] == 50"><mat-icon>cancel</mat-icon></div>
                                <div>{{element[obj]}}</div>
                            </div>
                            <span *ngIf="obj != 'idex' && obj != 'OrganizationName' && obj != 'StatusDesc'">{{element[obj]}}</span>
                        </td>
                    </ng-container>
                </ng-container>

                <ng-container matColumnDef="delC">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element; let rowNum = index;">
                        <div *ngIf="element['StatusId'] == 1">
                            <!-- <button mat-icon-button class="deleteButton" (click)="deleteOrder(element)">מחק -->
                                <mat-icon class="deleteIcon" (click)="deleteOrder(element)">delete</mat-icon>
                            <!-- </button> -->
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                
              </table>
              <div *ngIf="dataSource.filteredData.length === 0" class="tableEmptyMsg">אין נתונים</div>

              <mat-paginator [pageSizeOptions]="[10, 25, 100]" class="mat-paginator-sticky"></mat-paginator>
        </div>
    </div>
</div>
